In [318]:
import numpy as np
import pandas as pd

In [319]:
df = pd.read_csv('Airbnb_Open_Data.csv')

C:\Users\khair\AppData\Local\Temp\ipykernel_13768\2167922700.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Airbnb_Open_Data.csv')

In [320]:
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

In [321]:
df['id'].duplicated().value_counts()

id
False    102058
True        541
Name: count, dtype: int64

In [322]:
df = df.drop_duplicates(subset=['id'])

In [323]:
df['id'].duplicated().value_counts()

id
False    102058
Name: count, dtype: int64

In [324]:
df['NAME']

0                       Clean & quiet apt home by the park
1                                    Skylit Midtown Castle
2                      THE VILLAGE OF HARLEM....NEW YORK !
3                                                      NaN
4         Entire Apt: Spacious Studio/Loft by central park
                                ...
102053                 Cozy bright room near Prospect Park
102054           Private Bedroom with Amazing Rooftop View
102055       Pretty Brooklyn One-Bedroom for 2 to 4 people
102056          Room & private bathroom in historic Harlem
102057                                     Rosalee Stewart
Name: NAME, Length: 102058, dtype: object

In [325]:
df['NAME'] = df['NAME'].str.replace('  ', '')

C:\Users\khair\AppData\Local\Temp\ipykernel_13768\640686949.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['NAME'] = df['NAME'].str.replace('  ', '')

In [326]:
df['NAME']

0                       Clean & quiet apt home by the park
1                                    Skylit Midtown Castle
2                      THE VILLAGE OF HARLEM....NEW YORK !
3                                                      NaN
4         Entire Apt: Spacious Studio/Loft by central park
                                ...
102053                 Cozy bright room near Prospect Park
102054           Private Bedroom with Amazing Rooftop View
102055       Pretty Brooklyn One-Bedroom for 2 to 4 people
102056          Room & private bathroom in historic Harlem
102057                                     Rosalee Stewart
Name: NAME, Length: 102058, dtype: object

In [327]:
df = df.dropna(subset = ['NAME'])

In [328]:
df['NAME'] = df['NAME'].str.replace(r'[@, #, $, %, !, *, &]', ' ', regex = True)

In [329]:
df['NAME'] = df['NAME'].str.replace(' ', '')

In [330]:
df['NAME']

0                         Cleanquietapthomebythepark
1                                SkylitMidtownCastle
2                      THEVILLAGEOFHARLEM....NEWYORK
4         EntireApt:SpaciousStudio/Loftbycentralpark
5                 LargeCozy1BRApartmentInMidtownEast
                             ...
102053                CozybrightroomnearProspectPark
102054          PrivateBedroomwithAmazingRooftopView
102055        PrettyBrooklynOne-Bedroomfor2to4people
102056           RoomprivatebathroominhistoricHarlem
102057                                RosaleeStewart
Name: NAME, Length: 101808, dtype: object

In [331]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101808 entries, 0 to 102057
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              101808 non-null  int64
 1   NAME                            101808 non-null  object
 2   host id                         101808 non-null  int64
 3   host_identity_verified          101531 non-null  object
 4   host name                       101410 non-null  object
 5   neighbourhood group             101781 non-null  object
 6   neighbourhood                   101792 non-null  object
 7   lat                             101800 non-null  float64
 8   long                            101800 non-null  float64
 9   country                         101281 non-null  object
 10  country code                    101685 non-null  object
 11  instant_bookable                101711 non-null  object
 12  cancellation_policy             101737 non-null  object
 13  room type                       101808 non-null  object
 14  Construction year               101603 non-null  float64
 15  price                           101564 non-null  object
 16  service fee                     101535 non-null  object
 17  minimum nights                  101414 non-null  float64
 18  number of reviews               101626 non-null  float64
 19  last review                     86012 non-null   object
 20  reviews per month               86026 non-null   float64
 21  review rate number              101497 non-null  float64
 22  calculated host listings count  101490 non-null  float64
 23  availability 365                101378 non-null  float64
 24  house_rules                     50072 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 21.0+ MB

In [332]:
df.isnull().sum()

id                                     0
NAME                                   0
host id                                0
host_identity_verified               277
host name                            398
neighbourhood group                   27
neighbourhood                         16
lat                                    8
long                                   8
country                              527
country code                         123
instant_bookable                      97
cancellation_policy                   71
room type                              0
Construction year                    205
price                                244
service fee                          273
minimum nights                       394
number of reviews                    182
last review                        15796
reviews per month                  15782
review rate number                   311
calculated host listings count       318
availability 365                     430
house_rules                        51736
license                           101806
dtype: int64

In [333]:
df['host id']

0         80014485718
1         52335172823
2         78829239556
4         92037596077
5         45498551794
             ...
102053    77326652202
102054    45936254757
102055    23801060917
102056    15593031571
102057    93578954226
Name: host id, Length: 101808, dtype: int64

In [334]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101808 entries, 0 to 102057
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              101808 non-null  int64
 1   NAME                            101808 non-null  object
 2   host id                         101808 non-null  int64
 3   host_identity_verified          101531 non-null  object
 4   host name                       101410 non-null  object
 5   neighbourhood group             101781 non-null  object
 6   neighbourhood                   101792 non-null  object
 7   lat                             101800 non-null  float64
 8   long                            101800 non-null  float64
 9   country                         101281 non-null  object
 10  country code                    101685 non-null  object
 11  instant_bookable                101711 non-null  object
 12  cancellation_policy             101737 non-null  object
 13  room type                       101808 non-null  object
 14  Construction year               101603 non-null  float64
 15  price                           101564 non-null  object
 16  service fee                     101535 non-null  object
 17  minimum nights                  101414 non-null  float64
 18  number of reviews               101626 non-null  float64
 19  last review                     86012 non-null   object
 20  reviews per month               86026 non-null   float64
 21  review rate number              101497 non-null  float64
 22  calculated host listings count  101490 non-null  float64
 23  availability 365                101378 non-null  float64
 24  house_rules                     50072 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 21.0+ MB

In [335]:
df['host id'].duplicated().sum()

np.int64(0)

In [336]:
df = df.dropna(subset = ['host id'])

In [337]:
df['host id']

0         80014485718
1         52335172823
2         78829239556
4         92037596077
5         45498551794
             ...
102053    77326652202
102054    45936254757
102055    23801060917
102056    15593031571
102057    93578954226
Name: host id, Length: 101808, dtype: int64

In [338]:
df['host name'].duplicated().value_counts()

host name
True     88624
False    13184
Name: count, dtype: int64

In [339]:
df.isnull().sum()

id                                     0
NAME                                   0
host id                                0
host_identity_verified               277
host name                            398
neighbourhood group                   27
neighbourhood                         16
lat                                    8
long                                   8
country                              527
country code                         123
instant_bookable                      97
cancellation_policy                   71
room type                              0
Construction year                    205
price                                244
service fee                          273
minimum nights                       394
number of reviews                    182
last review                        15796
reviews per month                  15782
review rate number                   311
calculated host listings count       318
availability 365                     430
house_rules                        51736
license                           101806
dtype: int64

In [340]:
df['host name'].value_counts()

host name
Michael             877
David               759
John                576
Alex                541
Sonder (NYC)        515
                   ...
Evrim                 1
Nathanael             1
Serkan                1
Alankrit              1
Sebastien Rafael      1
Name: count, Length: 13183, dtype: int64

In [341]:
df = df.dropna(subset = ['host name'])

In [342]:
df.isnull().sum()

id                                     0
NAME                                   0
host id                                0
host_identity_verified               276
host name                              0
neighbourhood group                   26
neighbourhood                         16
lat                                    8
long                                   8
country                              526
country code                         122
instant_bookable                      96
cancellation_policy                   70
room type                              0
Construction year                    200
price                                239
service fee                          268
minimum nights                       394
number of reviews                    182
last review                        15717
reviews per month                  15703
review rate number                   307
calculated host listings count       318
availability 365                     420
house_rules                        51579
license                           101408
dtype: int64

In [343]:
df['host name'] = df['host name'].str.replace(r'[@ , #,  $,  %,  &,  *,  !,  ?, _,  -,  +,  =,  ( ),  [, ],  {, },  /,  \,  |,  ., :,  ;,  " ]', '', regex = True)

In [344]:
df['host name'].value_counts()

host name
Michael             877
David               759
John                576
Alex                541
Sonder (NYC)        515
                   ...
Evrim                 1
Nathanael             1
Serkan                1
Alankrit              1
Sebastien Rafael      1
Name: count, Length: 13183, dtype: int64

In [345]:
df['host name'] = df['host name'].str.replace(' ', '')

In [346]:
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Cleanquietapthomebythepark,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,SkylitMidtownCastle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THEVILLAGEOFHARLEM....NEWYORK,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,EntireApt:SpaciousStudio/Loftbycentralpark,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,LargeCozy1BRApartmentInMidtownEast,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,57365208,CozybrightroomnearProspectPark,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,United States,...,NaN,7.0,12.0,3/27/2019,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...,NaN
102054,57365760,PrivateBedroomwithAmazingRooftopView,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,United States,...,NaN,1.0,19.0,8/31/2017,0.72,3.0,2.0,0.0,#NAME?,NaN
102055,57366313,PrettyBrooklynOne-Bedroomfor2to4people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,...,NaN,2.0,50.0,6/26/2019,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...,NaN
102056,57366865,RoomprivatebathroominhistoricHarlem,15593031571,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,United States,...,NaN,2.0,0.0,NaN,NaN,1.0,1.0,0.0,Each of us is working and/or going to school a...,NaN
102057,57367417,RosaleeStewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,...,NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,NaN

In [347]:
df['neighbourhood'].duplicated().sum()

np.int64(101185)

In [348]:
df.isnull().sum()

id                                     0
NAME                                   0
host id                                0
host_identity_verified               276
host name                              0
neighbourhood group                   26
neighbourhood                         16
lat                                    8
long                                   8
country                              526
country code                         122
instant_bookable                      96
cancellation_policy                   70
room type                              0
Construction year                    200
price                                239
service fee                          268
minimum nights                       394
number of reviews                    182
last review                        15717
reviews per month                  15703
review rate number                   307
calculated host listings count       318
availability 365                     420
house_rules                        51579
license                           101408
dtype: int64

In [349]:
df['neighbourhood'].unique()

array(['Kensington', 'Midtown', 'Harlem', 'East Harlem', 'Murray Hill',
       'Bedford-Stuyvesant', "Hell's Kitchen", 'Upper West Side',
       'Chinatown', 'South Slope', 'West Village', 'Williamsburg',
       'Fort Greene', 'Chelsea', 'Crown Heights', 'Park Slope',
       'Windsor Terrace', 'Inwood', 'East Village', 'Greenpoint',
       'Bushwick', 'Flatbush', 'Lower East Side',
       'Prospect-Lefferts Gardens', 'Long Island City', 'Kips Bay',
       'Clinton Hill', 'Washington Heights', 'Upper East Side',
       'Woodside', 'Brooklyn Heights', 'Prospect Heights',
       'Carroll Gardens', 'Gowanus', 'Flatlands', 'Cobble Hill',
       'Flushing', 'Boerum Hill', 'Sunnyside', 'DUMBO', 'St. George',
       'Highbridge', 'Financial District', 'Ridgewood',
       'Morningside Heights', 'Middle Village', 'NoHo',
       'Ditmars Steinway', 'Flatiron District', 'Roosevelt Island',
       'Little Italy', 'East Flatbush', 'Tompkinsville', 'Astoria',
       'Clason Point', 'Eastchester', 'Kingsbridge', 'Two Bridges',
       'Queens Village', 'Rockaway Beach', 'Forest Hills', 'Nolita',
       'Greenwich Village', 'Woodlawn', 'SoHo', 'University Heights',
       'Gravesend', 'Gramercy', 'Allerton', nan, 'East New York',
       'Theater District', 'Concourse Village', 'Sheepshead Bay',
       'Emerson Hill', 'Fort Hamilton', 'Bensonhurst', 'Tribeca',
       'Shore Acres', 'Sunset Park', 'Concourse', 'Elmhurst',
       'Brighton Beach', 'Jackson Heights', 'Cypress Hills', 'St. Albans',
       'Arrochar', 'Rego Park', 'Wakefield', 'Clifton', 'Bay Ridge',
       'Graniteville', 'Spuyten Duyvil', 'Stapleton', 'Briarwood',
       'Ozone Park', 'Columbia St', 'Vinegar Hill', 'Mott Haven',
       'Longwood', 'Canarsie', 'Jamaica', 'Battery Park City',
       'Civic Center', 'East Elmhurst', 'New Springville',
       'Morris Heights', 'Arverne', 'Cambria Heights', 'Tottenville',
       'Mariners Harbor', 'Concord', 'Borough Park', 'Bayside',
       'Downtown Brooklyn', 'Port Morris', 'Fieldston', 'Kew Gardens',
       'Midwood', 'College Point', 'Mount Eden', 'City Island',
       'Glendale', 'Port Richmond', 'Red Hook', 'Richmond Hill',
       'Bellerose', 'Maspeth', 'Williamsbridge', 'Soundview', 'Woodhaven',
       'Woodrow', 'Co-op City', 'Stuyvesant Town', 'Parkchester',
       'North Riverdale', 'Dyker Heights', 'Bronxdale', 'Sea Gate',
       'Riverdale', 'Kew Gardens Hills', 'Bay Terrace', 'Norwood',
       'Claremont Village', 'Whitestone', 'Fordham', 'Bayswater',
       'Navy Yard', 'Brownsville', 'Eltingville', 'Fresh Meadows',
       'Mount Hope', 'Lighthouse Hill', 'Springfield Gardens',
       'Howard Beach', 'Belle Harbor', 'Jamaica Estates', 'Van Nest',
       'Morris Park', 'West Brighton', 'Far Rockaway', 'South Ozone Park',
       'Tremont', 'Corona', 'Great Kills', 'Manhattan Beach',
       'Marble Hill', 'Dongan Hills', 'Castleton Corners',
       'East Morrisania', 'Hunts Point', 'Neponsit', 'Pelham Bay',
       'Randall Manor', 'Throgs Neck', 'Todt Hill', 'West Farms',
       'Silver Lake', 'Morrisania', 'Laurelton', 'Grymes Hill',
       'Holliswood', 'Pelham Gardens', 'Belmont', 'Rosedale', 'Edgemere',
       'New Brighton', 'Midland Beach', 'Baychester', 'Melrose',
       'Bergen Beach', 'Richmondtown', 'Howland Hook', 'Schuylerville',
       'Coney Island', 'New Dorp Beach', "Prince's Bay", 'South Beach',
       'Bath Beach', 'Jamaica Hills', 'Oakwood', 'Castle Hill', 'Hollis',
       'Douglaston', 'Huguenot', 'Olinville', 'Edenwald', 'Grant City',
       'Westerleigh', 'Bay Terrace, Staten Island', 'Westchester Square',
       'Little Neck', 'Fort Wadsworth', 'Rosebank', 'Unionport',
       'Mill Basin', 'Arden Heights', "Bull's Head", 'New Dorp',
       'Rossville', 'Breezy Point', 'Willowbrook', 'Glen Oaks',
       'Gerritsen Beach', 'Chelsea, Staten Island'], dtype=object)

In [350]:
df = df.dropna(subset = ['neighbourhood'])

In [351]:
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [352]:
df['lat'].duplicated().sum()

np.int64(79442)

In [353]:
df = df[df['lat'] > -90]

In [354]:
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Cleanquietapthomebythepark,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,SkylitMidtownCastle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THEVILLAGEOFHARLEM....NEWYORK,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,EntireApt:SpaciousStudio/Loftbycentralpark,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,LargeCozy1BRApartmentInMidtownEast,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,57365208,CozybrightroomnearProspectPark,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,United States,...,NaN,7.0,12.0,3/27/2019,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...,NaN
102054,57365760,PrivateBedroomwithAmazingRooftopView,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,United States,...,NaN,1.0,19.0,8/31/2017,0.72,3.0,2.0,0.0,#NAME?,NaN
102055,57366313,PrettyBrooklynOne-Bedroomfor2to4people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,...,NaN,2.0,50.0,6/26/2019,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...,NaN
102056,57366865,RoomprivatebathroominhistoricHarlem,15593031571,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,United States,...,NaN,2.0,0.0,NaN,NaN,1.0,1.0,0.0,Each of us is working and/or going to school a...,NaN
102057,57367417,RosaleeStewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,...,NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,NaN

In [355]:
df = df[df['lat'] < 90]

In [356]:
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Cleanquietapthomebythepark,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,SkylitMidtownCastle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THEVILLAGEOFHARLEM....NEWYORK,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,EntireApt:SpaciousStudio/Loftbycentralpark,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,LargeCozy1BRApartmentInMidtownEast,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,57365208,CozybrightroomnearProspectPark,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,United States,...,NaN,7.0,12.0,3/27/2019,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...,NaN
102054,57365760,PrivateBedroomwithAmazingRooftopView,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,United States,...,NaN,1.0,19.0,8/31/2017,0.72,3.0,2.0,0.0,#NAME?,NaN
102055,57366313,PrettyBrooklynOne-Bedroomfor2to4people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,...,NaN,2.0,50.0,6/26/2019,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...,NaN
102056,57366865,RoomprivatebathroominhistoricHarlem,15593031571,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,United States,...,NaN,2.0,0.0,NaN,NaN,1.0,1.0,0.0,Each of us is working and/or going to school a...,NaN
102057,57367417,RosaleeStewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,...,NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,NaN

In [357]:
df = df[df['long'] > -180]

In [358]:
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Cleanquietapthomebythepark,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,SkylitMidtownCastle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THEVILLAGEOFHARLEM....NEWYORK,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,EntireApt:SpaciousStudio/Loftbycentralpark,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,LargeCozy1BRApartmentInMidtownEast,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,57365208,CozybrightroomnearProspectPark,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,United States,...,NaN,7.0,12.0,3/27/2019,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...,NaN
102054,57365760,PrivateBedroomwithAmazingRooftopView,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,United States,...,NaN,1.0,19.0,8/31/2017,0.72,3.0,2.0,0.0,#NAME?,NaN
102055,57366313,PrettyBrooklynOne-Bedroomfor2to4people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,...,NaN,2.0,50.0,6/26/2019,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...,NaN
102056,57366865,RoomprivatebathroominhistoricHarlem,15593031571,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,United States,...,NaN,2.0,0.0,NaN,NaN,1.0,1.0,0.0,Each of us is working and/or going to school a...,NaN
102057,57367417,RosaleeStewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,...,NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,NaN

In [359]:
df = df[df['lat'] < 180]

In [360]:
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Cleanquietapthomebythepark,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,SkylitMidtownCastle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THEVILLAGEOFHARLEM....NEWYORK,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,EntireApt:SpaciousStudio/Loftbycentralpark,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,LargeCozy1BRApartmentInMidtownEast,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,57365208,CozybrightroomnearProspectPark,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,United States,...,NaN,7.0,12.0,3/27/2019,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...,NaN
102054,57365760,PrivateBedroomwithAmazingRooftopView,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,United States,...,NaN,1.0,19.0,8/31/2017,0.72,3.0,2.0,0.0,#NAME?,NaN
102055,57366313,PrettyBrooklynOne-Bedroomfor2to4people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,...,NaN,2.0,50.0,6/26/2019,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...,NaN
102056,57366865,RoomprivatebathroominhistoricHarlem,15593031571,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,United States,...,NaN,2.0,0.0,NaN,NaN,1.0,1.0,0.0,Each of us is working and/or going to school a...,NaN
102057,57367417,RosaleeStewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,...,NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,NaN

In [361]:
df['long'].duplicated().sum()

np.int64(83640)

In [362]:
df['long'].isnull().sum()

np.int64(0)

In [363]:
df['lat'].isnull().sum()

np.int64(0)

In [364]:
df.isnull().sum()

id                                     0
NAME                                   0
host id                                0
host_identity_verified               276
host name                              0
neighbourhood group                   26
neighbourhood                          0
lat                                    0
long                                   0
country                              524
country code                         120
instant_bookable                      94
cancellation_policy                   68
room type                              0
Construction year                    199
price                                238
service fee                          268
minimum nights                       393
number of reviews                    182
last review                        15716
reviews per month                  15702
review rate number                   307
calculated host listings count       318
availability 365                     419
house_rules                        51571
license                           101384
dtype: int64

In [365]:
#7.Clean country ,country code ,instant bookable,cancellation

In [366]:
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [367]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101386 entries, 0 to 102057
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              101386 non-null  int64
 1   NAME                            101386 non-null  object
 2   host id                         101386 non-null  int64
 3   host_identity_verified          101110 non-null  object
 4   host name                       101386 non-null  object
 5   neighbourhood group             101360 non-null  object
 6   neighbourhood                   101386 non-null  object
 7   lat                             101386 non-null  float64
 8   long                            101386 non-null  float64
 9   country                         100862 non-null  object
 10  country code                    101266 non-null  object
 11  instant_bookable                101292 non-null  object
 12  cancellation_policy             101318 non-null  object
 13  room type                       101386 non-null  object
 14  Construction year               101187 non-null  float64
 15  price                           101148 non-null  object
 16  service fee                     101118 non-null  object
 17  minimum nights                  100993 non-null  float64
 18  number of reviews               101204 non-null  float64
 19  last review                     85670 non-null   object
 20  reviews per month               85684 non-null   float64
 21  review rate number              101079 non-null  float64
 22  calculated host listings count  101068 non-null  float64
 23  availability 365                100967 non-null  float64
 24  house_rules                     49815 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.9+ MB

In [368]:
df['country'].unique()

array(['United States', nan], dtype=object)

In [369]:
df['country'].value_counts()

country
United States    100862
Name: count, dtype: int64

In [370]:
df = df.dropna(subset = ['country'])

In [371]:
df['country'].unique()

array(['United States'], dtype=object)

In [372]:
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [373]:
df['country code']

0         US
1         US
2         US
4         US
5         US
          ..
102053    US
102054    US
102055    US
102056    US
102057    US
Name: country code, Length: 100862, dtype: object

In [374]:
df['country code'].unique()

array(['US', nan], dtype=object)

In [375]:
df = df.dropna(subset = ['country code'])

In [376]:
df['country code'].unique()

array(['US'], dtype=object)

In [377]:
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [378]:
df['instant_bookable']

0         False
1         False
2          True
4         False
5          True
          ...
102053     True
102054    False
102055     True
102056     True
102057    False
Name: instant_bookable, Length: 100822, dtype: object

In [379]:
df['instant_bookable'].unique()

array([False, True], dtype=object)

In [380]:
df['instant_bookable'].value_counts()

instant_bookable
False    50615
True     50207
Name: count, dtype: int64

In [381]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100822 entries, 0 to 102057
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              100822 non-null  int64
 1   NAME                            100822 non-null  object
 2   host id                         100822 non-null  int64
 3   host_identity_verified          100550 non-null  object
 4   host name                       100822 non-null  object
 5   neighbourhood group             100797 non-null  object
 6   neighbourhood                   100822 non-null  object
 7   lat                             100822 non-null  float64
 8   long                            100822 non-null  float64
 9   country                         100822 non-null  object
 10  country code                    100822 non-null  object
 11  instant_bookable                100822 non-null  object
 12  cancellation_policy             100822 non-null  object
 13  room type                       100822 non-null  object
 14  Construction year               100627 non-null  float64
 15  price                           100588 non-null  object
 16  service fee                     100558 non-null  object
 17  minimum nights                  100434 non-null  float64
 18  number of reviews               100640 non-null  float64
 19  last review                     85152 non-null   object
 20  reviews per month               85162 non-null   float64
 21  review rate number              100526 non-null  float64
 22  calculated host listings count  100504 non-null  float64
 23  availability 365                100408 non-null  float64
 24  house_rules                     49598 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.8+ MB

In [382]:
df['instant_bookable'].duplicated().sum()

np.int64(100820)

In [383]:
df['cancellation_policy'].unique()

array(['strict', 'moderate', 'flexible'], dtype=object)

In [384]:
df['cancellation_policy'].value_counts()

cancellation_policy
moderate    33767
strict      33537
flexible    33518
Name: count, dtype: int64

In [385]:
df = df.drop(columns = ['country', 'country code', 'instant_bookable', 'cancellation_policy'])

In [386]:
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,room type,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Cleanquietapthomebythepark,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,Private room,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,SkylitMidtownCastle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THEVILLAGEOFHARLEM....NEWYORK,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,Private room,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,EntireApt:SpaciousStudio/Loftbycentralpark,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,LargeCozy1BRApartmentInMidtownEast,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,57365208,CozybrightroomnearProspectPark,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,Private room,...,NaN,7.0,12.0,3/27/2019,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...,NaN
102054,57365760,PrivateBedroomwithAmazingRooftopView,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,Private room,...,NaN,1.0,19.0,8/31/2017,0.72,3.0,2.0,0.0,#NAME?,NaN
102055,57366313,PrettyBrooklynOne-Bedroomfor2to4people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,Entire home/apt,...,NaN,2.0,50.0,6/26/2019,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...,NaN
102056,57366865,RoomprivatebathroominhistoricHarlem,15593031571,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,Private room,...,NaN,2.0,0.0,NaN,NaN,1.0,1.0,0.0,Each of us is working and/or going to school a...,NaN
102057,57367417,RosaleeStewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,Entire home/apt,...,NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,NaN

In [387]:
df['room type']

0            Private room
1         Entire home/apt
2            Private room
4         Entire home/apt
5         Entire home/apt
               ...
102053       Private room
102054       Private room
102055    Entire home/apt
102056       Private room
102057    Entire home/apt
Name: room type, Length: 100822, dtype: object

In [388]:
df['room type'].unique()

array(['Private room', 'Entire home/apt', 'Shared room', 'Hotel room'],
      dtype=object)

In [389]:
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [390]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100822 entries, 0 to 102057
Data columns (total 22 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              100822 non-null  int64
 1   NAME                            100822 non-null  object
 2   host id                         100822 non-null  int64
 3   host_identity_verified          100550 non-null  object
 4   host name                       100822 non-null  object
 5   neighbourhood group             100797 non-null  object
 6   neighbourhood                   100822 non-null  object
 7   lat                             100822 non-null  float64
 8   long                            100822 non-null  float64
 9   room type                       100822 non-null  object
 10  Construction year               100627 non-null  float64
 11  price                           100588 non-null  object
 12  service fee                     100558 non-null  object
 13  minimum nights                  100434 non-null  float64
 14  number of reviews               100640 non-null  float64
 15  last review                     85152 non-null   object
 16  reviews per month               85162 non-null   float64
 17  review rate number              100526 non-null  float64
 18  calculated host listings count  100504 non-null  float64
 19  availability 365                100408 non-null  float64
 20  house_rules                     49598 non-null   object
 21  license                         2 non-null       object
dtypes: float64(9), int64(2), object(11)
memory usage: 17.7+ MB

In [391]:
df = df.dropna(subset = ['Construction year'])

In [392]:
df['Construction year'] = df['Construction year'].astype('int')

C:\Users\khair\AppData\Local\Temp\ipykernel_13768\2074770313.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Construction year'] = df['Construction year'].astype('int')

In [393]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100627 entries, 0 to 102057
Data columns (total 22 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              100627 non-null  int64
 1   NAME                            100627 non-null  object
 2   host id                         100627 non-null  int64
 3   host_identity_verified          100367 non-null  object
 4   host name                       100627 non-null  object
 5   neighbourhood group             100605 non-null  object
 6   neighbourhood                   100627 non-null  object
 7   lat                             100627 non-null  float64
 8   long                            100627 non-null  float64
 9   room type                       100627 non-null  object
 10  Construction year               100627 non-null  int64
 11  price                           100397 non-null  object
 12  service fee                     100369 non-null  object
 13  minimum nights                  100251 non-null  float64
 14  number of reviews               100446 non-null  float64
 15  last review                     84984 non-null   object
 16  reviews per month               84989 non-null   float64
 17  review rate number              100337 non-null  float64
 18  calculated host listings count  100311 non-null  float64
 19  availability 365                100225 non-null  float64
 20  house_rules                     49456 non-null   object
 21  license                         2 non-null       object
dtypes: float64(8), int64(3), object(11)
memory usage: 17.7+ MB

In [394]:
df['Construction year'].unique()

array([2020, 2007, 2005, 2009, 2013, 2015, 2004, 2008, 2010, 2019, 2018,
       2016, 2003, 2011, 2012, 2017, 2006, 2022, 2014, 2021])

In [395]:
df['price']

0           $966
1           $142
2           $620
4           $204
5           $577
           ...
102038      $570
102039      $665
102040      $982
102050        NaN
102057    $1,128
Name: price, Length: 100627, dtype: object

In [396]:
df = df.dropna(subset = ['price'])

In [397]:
df['price'] = df['price'].str.replace('$', '')

In [398]:
df['price'] = df['price'].str.replace(',', '')

In [399]:
df['price'] = df['price'].astype('int')

In [400]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100397 entries, 0 to 102057
Data columns (total 22 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              100397 non-null  int64
 1   NAME                            100397 non-null  object
 2   host id                         100397 non-null  int64
 3   host_identity_verified          100141 non-null  object
 4   host name                       100397 non-null  object
 5   neighbourhood group             100376 non-null  object
 6   neighbourhood                   100397 non-null  object
 7   lat                             100397 non-null  float64
 8   long                            100397 non-null  float64
 9   room type                       100397 non-null  object
 10  Construction year               100397 non-null  int64
 11  price                           100397 non-null  int64
 12  service fee                     100168 non-null  object
 13  minimum nights                  100021 non-null  float64
 14  number of reviews               100216 non-null  float64
 15  last review                     84779 non-null   object
 16  reviews per month               84785 non-null   float64
 17  review rate number              100107 non-null  float64
 18  calculated host listings count  100081 non-null  float64
 19  availability 365                99995 non-null   float64
 20  house_rules                     49355 non-null   object
 21  license                         2 non-null       object
dtypes: float64(8), int64(4), object(10)
memory usage: 17.6+ MB

In [401]:
df['price'].unique()

array([966, 142, 620, ..., 905, 309, 770])

In [402]:
df['minimum nights'].unique()

array([ 1.000e+01,  3.000e+01,  3.000e+00,  4.500e+01,  2.000e+00,
        1.000e+00,  5.000e+00,  4.000e+00,  9.000e+01,  6.000e+01,
        7.000e+00,        nan,  9.000e+00,  3.100e+01,  6.000e+00,
        1.500e+01,  8.000e+00,  4.700e+01,  8.100e+01,  1.440e+02,
        3.710e+02,  1.490e+02,  2.730e+02,  1.310e+02,  2.750e+02,
        3.230e+02,  5.900e+01,  9.900e+01,  2.680e+02, -1.000e+01,
        1.890e+02,  3.400e+02,  1.280e+02,  3.500e+02,  1.660e+02,
        1.100e+02,  1.420e+02,  3.660e+02,  1.400e+01,  2.000e+02,
        5.000e+01,  3.990e+02,  1.100e+01,  4.520e+02,  1.300e+01,
        3.455e+03,  2.100e+01,  2.700e+01,  1.800e+01, -1.000e+00,
        2.000e+01, -1.200e+01,  4.000e+01,  4.400e+01,  3.980e+02,
       -2.000e+00,  2.800e+01,  6.500e+01, -3.000e+00,  2.900e+01,
        5.500e+01,  1.200e+02,  3.650e+02,  1.800e+02,  1.220e+02,
        1.900e+01,  2.400e+02,  8.800e+01,  1.150e+02,  1.500e+02,
        3.700e+02,  1.600e+01,  1.810e+02,  2.600e+01,  8.000e+01,
        2.500e+01,  2.650e+02,  3.000e+02,  1.700e+01,  1.850e+02,
        3.600e+02,  5.600e+01,  1.200e+01,  7.000e+01,  3.900e+01,
        2.400e+01,  3.200e+01,  2.700e+02,  2.200e+01,  7.500e+01,
        2.500e+02,  6.200e+01,  2.300e+01,  1.250e+03,  7.400e+01,
        1.980e+02,  1.000e+02,  5.000e+02,  4.300e+01,  3.500e+01,
        9.100e+01,  4.800e+02,  5.300e+01,  1.600e+02,  9.990e+02,
        1.860e+02,  6.800e+01,  9.300e+01,  8.700e+01,  1.830e+02,
        2.990e+02,  1.750e+02,  9.800e+01,  1.330e+02,  3.540e+02,
        4.200e+01,  3.300e+01,  3.700e+01,  2.250e+02,  4.000e+02,
        1.050e+02,  1.840e+02,  1.530e+02,  1.340e+02,  2.220e+02,
        5.800e+01,  2.100e+02,  1.820e+02,  9.540e+02,  5.645e+03,
        2.645e+03, -1.223e+03, -3.650e+02, -2.000e+02,  1.140e+02,
        8.500e+01,  3.600e+01,  4.800e+01,  1.550e+02,  3.070e+02,
        1.290e+02,  1.450e+02,  6.400e+01,  3.640e+02,  3.330e+02,
        1.190e+02, -1.250e+02,  1.250e+02,  3.400e+01,  4.580e+02,
        8.250e+02])

In [403]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100397 entries, 0 to 102057
Data columns (total 22 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              100397 non-null  int64
 1   NAME                            100397 non-null  object
 2   host id                         100397 non-null  int64
 3   host_identity_verified          100141 non-null  object
 4   host name                       100397 non-null  object
 5   neighbourhood group             100376 non-null  object
 6   neighbourhood                   100397 non-null  object
 7   lat                             100397 non-null  float64
 8   long                            100397 non-null  float64
 9   room type                       100397 non-null  object
 10  Construction year               100397 non-null  int64
 11  price                           100397 non-null  int64
 12  service fee                     100168 non-null  object
 13  minimum nights                  100021 non-null  float64
 14  number of reviews               100216 non-null  float64
 15  last review                     84779 non-null   object
 16  reviews per month               84785 non-null   float64
 17  review rate number              100107 non-null  float64
 18  calculated host listings count  100081 non-null  float64
 19  availability 365                99995 non-null   float64
 20  house_rules                     49355 non-null   object
 21  license                         2 non-null       object
dtypes: float64(8), int64(4), object(10)
memory usage: 17.6+ MB

In [404]:
df = df.dropna(subset = ['minimum nights'])

In [405]:
df['minimum nights'].unique()

array([ 1.000e+01,  3.000e+01,  3.000e+00,  4.500e+01,  2.000e+00,
        1.000e+00,  5.000e+00,  4.000e+00,  9.000e+01,  6.000e+01,
        7.000e+00,  9.000e+00,  3.100e+01,  6.000e+00,  1.500e+01,
        8.000e+00,  4.700e+01,  8.100e+01,  1.440e+02,  3.710e+02,
        1.490e+02,  2.730e+02,  1.310e+02,  2.750e+02,  3.230e+02,
        5.900e+01,  9.900e+01,  2.680e+02, -1.000e+01,  1.890e+02,
        3.400e+02,  1.280e+02,  3.500e+02,  1.660e+02,  1.100e+02,
        1.420e+02,  3.660e+02,  1.400e+01,  2.000e+02,  5.000e+01,
        3.990e+02,  1.100e+01,  4.520e+02,  1.300e+01,  3.455e+03,
        2.100e+01,  2.700e+01,  1.800e+01, -1.000e+00,  2.000e+01,
       -1.200e+01,  4.000e+01,  4.400e+01,  3.980e+02, -2.000e+00,
        2.800e+01,  6.500e+01, -3.000e+00,  2.900e+01,  5.500e+01,
        1.200e+02,  3.650e+02,  1.800e+02,  1.220e+02,  1.900e+01,
        2.400e+02,  8.800e+01,  1.150e+02,  1.500e+02,  3.700e+02,
        1.600e+01,  1.810e+02,  2.600e+01,  8.000e+01,  2.500e+01,
        2.650e+02,  3.000e+02,  1.700e+01,  1.850e+02,  3.600e+02,
        5.600e+01,  1.200e+01,  7.000e+01,  3.900e+01,  2.400e+01,
        3.200e+01,  2.700e+02,  2.200e+01,  7.500e+01,  2.500e+02,
        6.200e+01,  2.300e+01,  1.250e+03,  7.400e+01,  1.980e+02,
        1.000e+02,  5.000e+02,  4.300e+01,  3.500e+01,  9.100e+01,
        4.800e+02,  5.300e+01,  1.600e+02,  9.990e+02,  1.860e+02,
        6.800e+01,  9.300e+01,  8.700e+01,  1.830e+02,  2.990e+02,
        1.750e+02,  9.800e+01,  1.330e+02,  3.540e+02,  4.200e+01,
        3.300e+01,  3.700e+01,  2.250e+02,  4.000e+02,  1.050e+02,
        1.840e+02,  1.530e+02,  1.340e+02,  2.220e+02,  5.800e+01,
        2.100e+02,  1.820e+02,  9.540e+02,  5.645e+03,  2.645e+03,
       -1.223e+03, -3.650e+02, -2.000e+02,  1.140e+02,  8.500e+01,
        3.600e+01,  4.800e+01,  1.550e+02,  3.070e+02,  1.290e+02,
        1.450e+02,  6.400e+01,  3.640e+02,  3.330e+02,  1.190e+02,
       -1.250e+02,  1.250e+02,  3.400e+01,  4.580e+02,  8.250e+02])

In [406]:
df[df['minimum nights'] > 0]

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,room type,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Cleanquietapthomebythepark,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,Private room,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,SkylitMidtownCastle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THEVILLAGEOFHARLEM....NEWYORK,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,Private room,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,EntireApt:SpaciousStudio/Loftbycentralpark,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,LargeCozy1BRApartmentInMidtownEast,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102037,57356371,BxApartment,11038605149,unconfirmed,Vii,Bronx,Olinville,40.88438,-73.86397,Private room,...,NaN,1.0,0.0,NaN,NaN,3.0,1.0,0.0,#NAME?,NaN
102038,57356923,HUGEBEDROOMLORIMERLTRAIN,29320426760,unconfirmed,Jose,Brooklyn,Williamsburg,40.71355,-73.95003,Private room,...,NaN,28.0,17.0,4/30/2019,0.61,1.0,6.0,229.0,No smoking,NaN
102039,57357476,SpacioustwobedroomscondoinupperManhattan,14430571516,verified,Max,Manhattan,Inwood,40.86461,-73.92363,Entire home/apt,...,NaN,2.0,49.0,5/23/2019,1.81,1.0,3.0,147.0,NaN,NaN
102040,57358028,RoominQueensNYnearLGA.,56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,Private room,...,$196,1.0,239.0,6/29/2019,8.58,2.0,2.0,361.0,1. Please clean-up after yourself in the kitch...,NaN
102057,57367417,RosaleeStewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,Entire home/apt,...,NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,NaN

In [407]:
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,room type,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Cleanquietapthomebythepark,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,Private room,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,SkylitMidtownCastle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THEVILLAGEOFHARLEM....NEWYORK,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,Private room,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,EntireApt:SpaciousStudio/Loftbycentralpark,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,LargeCozy1BRApartmentInMidtownEast,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102037,57356371,BxApartment,11038605149,unconfirmed,Vii,Bronx,Olinville,40.88438,-73.86397,Private room,...,NaN,1.0,0.0,NaN,NaN,3.0,1.0,0.0,#NAME?,NaN
102038,57356923,HUGEBEDROOMLORIMERLTRAIN,29320426760,unconfirmed,Jose,Brooklyn,Williamsburg,40.71355,-73.95003,Private room,...,NaN,28.0,17.0,4/30/2019,0.61,1.0,6.0,229.0,No smoking,NaN
102039,57357476,SpacioustwobedroomscondoinupperManhattan,14430571516,verified,Max,Manhattan,Inwood,40.86461,-73.92363,Entire home/apt,...,NaN,2.0,49.0,5/23/2019,1.81,1.0,3.0,147.0,NaN,NaN
102040,57358028,RoominQueensNYnearLGA.,56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,Private room,...,$196,1.0,239.0,6/29/2019,8.58,2.0,2.0,361.0,1. Please clean-up after yourself in the kitch...,NaN
102057,57367417,RosaleeStewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,Entire home/apt,...,NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,NaN

In [408]:
df['number of reviews']

0           9.0
1          45.0
2           0.0
4           9.0
5          74.0
          ...
102037      0.0
102038     17.0
102039     49.0
102040    239.0
102057     22.0
Name: number of reviews, Length: 100021, dtype: float64

In [409]:
df['number of reviews'].unique()

array([9.000e+00, 4.500e+01, 0.000e+00, 7.400e+01, 4.900e+01, 4.300e+02,
       1.180e+02, 1.600e+02, 5.300e+01, 1.670e+02, 1.130e+02, 2.700e+01,
       1.680e+02, 2.310e+02, 2.140e+02, 2.450e+02, 1.500e+01, 2.500e+01,
       8.100e+01, 9.700e+01, 1.050e+02, 1.910e+02, 4.000e+00, 3.380e+02,
       1.480e+02, 1.060e+02, 1.900e+02, 2.300e+01, 2.100e+01, 1.420e+02,
       1.430e+02, 5.400e+01, 7.000e+01, 1.600e+01, 9.400e+01, 6.100e+01,
       1.940e+02, 2.000e+00, 1.740e+02, 2.400e+01, 1.660e+02, 2.900e+01,
       1.700e+02, 1.900e+01, 3.340e+02, 1.200e+01, 4.670e+02, 7.000e+00,
       3.800e+01, 3.240e+02, 1.950e+02, 1.300e+01, 3.600e+01, 6.300e+01,
       1.550e+02, 2.600e+02, 7.300e+01, 1.930e+02, 2.000e+02, 7.900e+01,
       3.400e+01, 1.400e+01, 8.000e+01, 2.940e+02, 1.500e+02, 4.700e+01,
       2.190e+02, 8.400e+01, 1.140e+02, 2.130e+02, 8.600e+01, 1.800e+01,
       2.060e+02, 1.000e+01, 1.220e+02, 5.200e+01, 1.260e+02, 1.380e+02,
       2.040e+02, 8.200e+01, 3.700e+01, 6.900e+01, 1.920e+02, 1.700e+01,
       2.220e+02, 2.050e+02, 1.080e+02, 4.580e+02, 4.100e+01, 1.000e+00,
       1.890e+02, 3.500e+01, 1.710e+02, 9.200e+01, 2.380e+02, 5.600e+01,
       1.110e+02, 1.470e+02, 1.770e+02, 1.850e+02, 6.200e+01, 1.240e+02,
       1.810e+02, 3.330e+02, 4.410e+02, 2.480e+02, 2.030e+02, 2.100e+02,
       6.400e+01, 5.000e+00, 9.300e+01, 1.040e+02, 1.270e+02, 3.000e+01,
       6.000e+00, 4.800e+01, 1.200e+02, 5.000e+01, 5.900e+01, 6.800e+01,
       3.100e+01, 1.980e+02, 2.200e+02, 2.860e+02, 3.980e+02, 7.600e+01,
       2.180e+02, 4.200e+01, 1.360e+02, 4.300e+01, 9.800e+01, 3.800e+02,
       3.000e+00, 1.630e+02, 2.470e+02, 1.160e+02, 3.900e+01, 4.030e+02,
       8.000e+00, 2.200e+01, 1.970e+02, 4.140e+02, 1.190e+02, 1.750e+02,
       8.800e+01, 1.170e+02, 1.030e+02, 2.270e+02, 5.700e+01, 1.290e+02,
       1.010e+02, 1.100e+01, 2.410e+02, 2.000e+01, 9.000e+01, 9.900e+01,
       6.600e+01, 2.710e+02, 1.870e+02, 3.300e+01, 1.790e+02, 2.250e+02,
       4.010e+02, 7.200e+01, 4.600e+01, 2.070e+02, 2.730e+02, 1.230e+02,
       5.500e+01, 8.700e+01, 2.580e+02, 1.280e+02, 2.280e+02,       nan,
       1.520e+02, 3.200e+01, 2.780e+02, 2.350e+02, 1.150e+02, 3.050e+02,
       1.020e+02, 8.300e+01, 8.900e+01, 6.500e+01, 4.000e+01, 1.000e+02,
       1.250e+02, 1.390e+02, 2.420e+02, 2.290e+02, 1.070e+02, 1.760e+02,
       1.510e+02, 1.780e+02, 2.160e+02, 2.330e+02, 1.350e+02, 3.140e+02,
       5.100e+01, 1.530e+02, 1.100e+02, 2.600e+01, 2.440e+02, 2.700e+02,
       2.800e+01, 1.300e+02, 5.800e+01, 2.080e+02, 2.320e+02, 1.210e+02,
       2.090e+02, 7.500e+01, 4.400e+01, 1.580e+02, 2.360e+02, 2.150e+02,
       3.200e+02, 7.800e+01, 2.970e+02, 2.020e+02, 7.700e+01, 2.650e+02,
       1.320e+02, 1.560e+02, 2.720e+02, 2.680e+02, 1.330e+02, 6.700e+01,
       1.310e+02, 1.650e+02, 2.690e+02, 2.430e+02, 1.340e+02, 1.120e+02,
       1.370e+02, 1.450e+02, 2.890e+02, 3.390e+02, 1.090e+02, 1.820e+02,
       4.540e+02, 1.990e+02, 2.300e+02, 1.540e+02, 1.440e+02, 4.390e+02,
       2.610e+02, 3.190e+02, 1.620e+02, 2.800e+02, 1.840e+02, 4.510e+02,
       1.690e+02, 6.000e+01, 2.660e+02, 2.510e+02, 1.830e+02, 1.410e+02,
       3.040e+02, 4.740e+02, 8.500e+01, 2.210e+02, 2.010e+02, 3.210e+02,
       2.500e+02, 2.540e+02, 1.610e+02, 3.230e+02, 3.470e+02, 2.110e+02,
       2.960e+02, 9.600e+01, 1.730e+02, 2.950e+02, 4.040e+02, 3.260e+02,
       3.630e+02, 1.460e+02, 1.640e+02, 3.270e+02, 2.370e+02, 3.530e+02,
       9.100e+01, 3.020e+02, 2.760e+02, 1.860e+02, 3.220e+02, 2.670e+02,
       5.400e+02, 2.240e+02, 2.910e+02, 7.100e+01, 3.150e+02, 3.130e+02,
       5.940e+02, 5.970e+02, 6.070e+02, 1.570e+02, 2.870e+02, 1.590e+02,
       3.950e+02, 4.470e+02, 2.260e+02, 2.810e+02, 3.560e+02, 9.500e+01,
       3.600e+02, 2.790e+02, 3.490e+02, 2.460e+02, 3.080e+02, 2.920e+02,
       1.400e+02, 2.840e+02, 3.740e+02, 1.720e+02, 1.960e+02, 1.490e+02,
       2.120e+02, 2.850e+02, 2.740e+02, 3.400e+02, 3.860e+02, 2.400e+02,
       3.360e+02, 2.490e+02, 2.750e+02, 2.590e+02, 2.520e+02, 2.630e+02,
       2.980e+02, 2.880e+02, 2.340e+02, 2.550e+02, 3.650e+02, 2.570e+02,
       2.170e+02, 4.880e+02, 3.320e+02, 3.580e+02, 1.800e+02, 2.770e+02,
       3.890e+02, 3.720e+02, 2.990e+02, 2.390e+02, 3.940e+02, 3.570e+02,
       2.230e+02, 3.500e+02, 3.520e+02, 4.260e+02, 2.620e+02, 1.880e+02,
       3.180e+02, 3.070e+02, 3.250e+02, 2.820e+02, 3.960e+02, 4.660e+02,
       3.970e+02, 2.900e+02, 4.480e+02, 4.240e+02, 4.080e+02, 3.090e+02,
       5.430e+02, 2.640e+02, 6.290e+02, 5.760e+02, 2.560e+02, 4.590e+02,
       3.750e+02, 4.120e+02, 3.780e+02, 4.110e+02, 4.340e+02, 5.100e+02,
       3.060e+02, 3.920e+02, 4.170e+02, 3.680e+02, 4.360e+02, 3.100e+02,
       3.410e+02, 3.480e+02, 7.760e+02, 8.490e+02, 6.180e+02, 4.850e+02,
       5.500e+02, 3.640e+02, 4.150e+02, 4.430e+02, 3.770e+02, 3.790e+02,
       3.290e+02, 4.750e+02, 9.660e+02, 7.970e+02, 5.920e+02, 5.670e+02,
       3.350e+02, 6.480e+02, 3.670e+02, 4.830e+02, 2.530e+02, 3.460e+02,
       4.060e+02, 4.690e+02, 3.420e+02, 3.110e+02, 3.450e+02, 6.380e+02,
       3.620e+02, 5.600e+02, 6.980e+02, 3.990e+02, 3.700e+02, 4.320e+02,
       3.440e+02, 4.490e+02, 5.420e+02, 3.710e+02, 2.930e+02, 3.610e+02,
       4.700e+02, 4.730e+02, 3.870e+02, 4.960e+02, 4.380e+02, 4.130e+02,
       1.024e+03, 3.010e+02, 3.030e+02, 4.550e+02, 3.300e+02, 8.840e+02,
       4.180e+02, 5.200e+02, 5.660e+02, 2.830e+02, 4.400e+02, 3.120e+02,
       4.200e+02, 4.330e+02, 3.370e+02, 4.500e+02, 5.830e+02, 3.160e+02,
       4.910e+02, 3.660e+02, 3.430e+02, 6.790e+02, 5.630e+02, 3.170e+02,
       3.730e+02, 5.560e+02, 4.290e+02, 3.310e+02, 4.680e+02, 7.380e+02,
       3.540e+02, 4.770e+02, 4.840e+02, 5.010e+02, 4.210e+02, 1.010e+03,
       4.460e+02, 4.900e+02, 4.000e+02, 3.280e+02, 4.800e+02, 3.510e+02,
       3.000e+02])

In [410]:
df = df.dropna(subset = ['number of reviews'])

In [411]:
df['number of reviews'].unique()

array([9.000e+00, 4.500e+01, 0.000e+00, 7.400e+01, 4.900e+01, 4.300e+02,
       1.180e+02, 1.600e+02, 5.300e+01, 1.670e+02, 1.130e+02, 2.700e+01,
       1.680e+02, 2.310e+02, 2.140e+02, 2.450e+02, 1.500e+01, 2.500e+01,
       8.100e+01, 9.700e+01, 1.050e+02, 1.910e+02, 4.000e+00, 3.380e+02,
       1.480e+02, 1.060e+02, 1.900e+02, 2.300e+01, 2.100e+01, 1.420e+02,
       1.430e+02, 5.400e+01, 7.000e+01, 1.600e+01, 9.400e+01, 6.100e+01,
       1.940e+02, 2.000e+00, 1.740e+02, 2.400e+01, 1.660e+02, 2.900e+01,
       1.700e+02, 1.900e+01, 3.340e+02, 1.200e+01, 4.670e+02, 7.000e+00,
       3.800e+01, 3.240e+02, 1.950e+02, 1.300e+01, 3.600e+01, 6.300e+01,
       1.550e+02, 2.600e+02, 7.300e+01, 1.930e+02, 2.000e+02, 7.900e+01,
       3.400e+01, 1.400e+01, 8.000e+01, 2.940e+02, 1.500e+02, 4.700e+01,
       2.190e+02, 8.400e+01, 1.140e+02, 2.130e+02, 8.600e+01, 1.800e+01,
       2.060e+02, 1.000e+01, 1.220e+02, 5.200e+01, 1.260e+02, 1.380e+02,
       2.040e+02, 8.200e+01, 3.700e+01, 6.900e+01, 1.920e+02, 1.700e+01,
       2.220e+02, 2.050e+02, 1.080e+02, 4.580e+02, 4.100e+01, 1.000e+00,
       1.890e+02, 3.500e+01, 1.710e+02, 9.200e+01, 2.380e+02, 5.600e+01,
       1.110e+02, 1.470e+02, 1.770e+02, 1.850e+02, 6.200e+01, 1.240e+02,
       1.810e+02, 3.330e+02, 4.410e+02, 2.480e+02, 2.030e+02, 2.100e+02,
       6.400e+01, 5.000e+00, 9.300e+01, 1.040e+02, 1.270e+02, 3.000e+01,
       6.000e+00, 4.800e+01, 1.200e+02, 5.000e+01, 5.900e+01, 6.800e+01,
       3.100e+01, 1.980e+02, 2.200e+02, 2.860e+02, 3.980e+02, 7.600e+01,
       2.180e+02, 4.200e+01, 1.360e+02, 4.300e+01, 9.800e+01, 3.800e+02,
       3.000e+00, 1.630e+02, 2.470e+02, 1.160e+02, 3.900e+01, 4.030e+02,
       8.000e+00, 2.200e+01, 1.970e+02, 4.140e+02, 1.190e+02, 1.750e+02,
       8.800e+01, 1.170e+02, 1.030e+02, 2.270e+02, 5.700e+01, 1.290e+02,
       1.010e+02, 1.100e+01, 2.410e+02, 2.000e+01, 9.000e+01, 9.900e+01,
       6.600e+01, 2.710e+02, 1.870e+02, 3.300e+01, 1.790e+02, 2.250e+02,
       4.010e+02, 7.200e+01, 4.600e+01, 2.070e+02, 2.730e+02, 1.230e+02,
       5.500e+01, 8.700e+01, 2.580e+02, 1.280e+02, 2.280e+02, 1.520e+02,
       3.200e+01, 2.780e+02, 2.350e+02, 1.150e+02, 3.050e+02, 1.020e+02,
       8.300e+01, 8.900e+01, 6.500e+01, 4.000e+01, 1.000e+02, 1.250e+02,
       1.390e+02, 2.420e+02, 2.290e+02, 1.070e+02, 1.760e+02, 1.510e+02,
       1.780e+02, 2.160e+02, 2.330e+02, 1.350e+02, 3.140e+02, 5.100e+01,
       1.530e+02, 1.100e+02, 2.600e+01, 2.440e+02, 2.700e+02, 2.800e+01,
       1.300e+02, 5.800e+01, 2.080e+02, 2.320e+02, 1.210e+02, 2.090e+02,
       7.500e+01, 4.400e+01, 1.580e+02, 2.360e+02, 2.150e+02, 3.200e+02,
       7.800e+01, 2.970e+02, 2.020e+02, 7.700e+01, 2.650e+02, 1.320e+02,
       1.560e+02, 2.720e+02, 2.680e+02, 1.330e+02, 6.700e+01, 1.310e+02,
       1.650e+02, 2.690e+02, 2.430e+02, 1.340e+02, 1.120e+02, 1.370e+02,
       1.450e+02, 2.890e+02, 3.390e+02, 1.090e+02, 1.820e+02, 4.540e+02,
       1.990e+02, 2.300e+02, 1.540e+02, 1.440e+02, 4.390e+02, 2.610e+02,
       3.190e+02, 1.620e+02, 2.800e+02, 1.840e+02, 4.510e+02, 1.690e+02,
       6.000e+01, 2.660e+02, 2.510e+02, 1.830e+02, 1.410e+02, 3.040e+02,
       4.740e+02, 8.500e+01, 2.210e+02, 2.010e+02, 3.210e+02, 2.500e+02,
       2.540e+02, 1.610e+02, 3.230e+02, 3.470e+02, 2.110e+02, 2.960e+02,
       9.600e+01, 1.730e+02, 2.950e+02, 4.040e+02, 3.260e+02, 3.630e+02,
       1.460e+02, 1.640e+02, 3.270e+02, 2.370e+02, 3.530e+02, 9.100e+01,
       3.020e+02, 2.760e+02, 1.860e+02, 3.220e+02, 2.670e+02, 5.400e+02,
       2.240e+02, 2.910e+02, 7.100e+01, 3.150e+02, 3.130e+02, 5.940e+02,
       5.970e+02, 6.070e+02, 1.570e+02, 2.870e+02, 1.590e+02, 3.950e+02,
       4.470e+02, 2.260e+02, 2.810e+02, 3.560e+02, 9.500e+01, 3.600e+02,
       2.790e+02, 3.490e+02, 2.460e+02, 3.080e+02, 2.920e+02, 1.400e+02,
       2.840e+02, 3.740e+02, 1.720e+02, 1.960e+02, 1.490e+02, 2.120e+02,
       2.850e+02, 2.740e+02, 3.400e+02, 3.860e+02, 2.400e+02, 3.360e+02,
       2.490e+02, 2.750e+02, 2.590e+02, 2.520e+02, 2.630e+02, 2.980e+02,
       2.880e+02, 2.340e+02, 2.550e+02, 3.650e+02, 2.570e+02, 2.170e+02,
       4.880e+02, 3.320e+02, 3.580e+02, 1.800e+02, 2.770e+02, 3.890e+02,
       3.720e+02, 2.990e+02, 2.390e+02, 3.940e+02, 3.570e+02, 2.230e+02,
       3.500e+02, 3.520e+02, 4.260e+02, 2.620e+02, 1.880e+02, 3.180e+02,
       3.070e+02, 3.250e+02, 2.820e+02, 3.960e+02, 4.660e+02, 3.970e+02,
       2.900e+02, 4.480e+02, 4.240e+02, 4.080e+02, 3.090e+02, 5.430e+02,
       2.640e+02, 6.290e+02, 5.760e+02, 2.560e+02, 4.590e+02, 3.750e+02,
       4.120e+02, 3.780e+02, 4.110e+02, 4.340e+02, 5.100e+02, 3.060e+02,
       3.920e+02, 4.170e+02, 3.680e+02, 4.360e+02, 3.100e+02, 3.410e+02,
       3.480e+02, 7.760e+02, 8.490e+02, 6.180e+02, 4.850e+02, 5.500e+02,
       3.640e+02, 4.150e+02, 4.430e+02, 3.770e+02, 3.790e+02, 3.290e+02,
       4.750e+02, 9.660e+02, 7.970e+02, 5.920e+02, 5.670e+02, 3.350e+02,
       6.480e+02, 3.670e+02, 4.830e+02, 2.530e+02, 3.460e+02, 4.060e+02,
       4.690e+02, 3.420e+02, 3.110e+02, 3.450e+02, 6.380e+02, 3.620e+02,
       5.600e+02, 6.980e+02, 3.990e+02, 3.700e+02, 4.320e+02, 3.440e+02,
       4.490e+02, 5.420e+02, 3.710e+02, 2.930e+02, 3.610e+02, 4.700e+02,
       4.730e+02, 3.870e+02, 4.960e+02, 4.380e+02, 4.130e+02, 1.024e+03,
       3.010e+02, 3.030e+02, 4.550e+02, 3.300e+02, 8.840e+02, 4.180e+02,
       5.200e+02, 5.660e+02, 2.830e+02, 4.400e+02, 3.120e+02, 4.200e+02,
       4.330e+02, 3.370e+02, 4.500e+02, 5.830e+02, 3.160e+02, 4.910e+02,
       3.660e+02, 3.430e+02, 6.790e+02, 5.630e+02, 3.170e+02, 3.730e+02,
       5.560e+02, 4.290e+02, 3.310e+02, 4.680e+02, 7.380e+02, 3.540e+02,
       4.770e+02, 4.840e+02, 5.010e+02, 4.210e+02, 1.010e+03, 4.460e+02,
       4.900e+02, 4.000e+02, 3.280e+02, 4.800e+02, 3.510e+02, 3.000e+02])

In [412]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99841 entries, 0 to 102057
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              99841 non-null  int64
 1   NAME                            99841 non-null  object
 2   host id                         99841 non-null  int64
 3   host_identity_verified          99587 non-null  object
 4   host name                       99841 non-null  object
 5   neighbourhood group             99820 non-null  object
 6   neighbourhood                   99841 non-null  object
 7   lat                             99841 non-null  float64
 8   long                            99841 non-null  float64
 9   room type                       99841 non-null  object
 10  Construction year               99841 non-null  int64
 11  price                           99841 non-null  int64
 12  service fee                     99612 non-null  object
 13  minimum nights                  99841 non-null  float64
 14  number of reviews               99841 non-null  float64
 15  last review                     84404 non-null  object
 16  reviews per month               84406 non-null  float64
 17  review rate number              99563 non-null  float64
 18  calculated host listings count  99525 non-null  float64
 19  availability 365                99510 non-null  float64
 20  house_rules                     49091 non-null  object
 21  license                         2 non-null      object
dtypes: float64(8), int64(4), object(10)
memory usage: 17.5+ MB

In [413]:
df['last review'].unique()

array(['10/19/2021', '5/21/2022', nan, ..., '2/24/2020', '9/20/2015',
       '4/15/2014'], dtype=object)

In [414]:
df = df.dropna(subset = ['last review'])

In [415]:
df['last review']

0         10/19/2021
1          5/21/2022
4         11/19/2018
5          6/22/2019
6          10/5/2017
             ...
102036    10/21/2017
102038     4/30/2019
102039     5/23/2019
102040     6/29/2019
102057     6/15/2019
Name: last review, Length: 84404, dtype: object

In [416]:
df['last review'] = df['last review'].str.replace('-', '/')

In [417]:
df['last review'].unique()

array(['10/19/2021', '5/21/2022', '11/19/2018', ..., '2/24/2020',
       '9/20/2015', '4/15/2014'], dtype=object)

In [418]:
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [419]:
df['availability 365'].unique()

array([ 2.860e+02,  2.280e+02,  2.890e+02,  3.740e+02,  2.240e+02,
        2.190e+02,  1.800e+02,  3.750e+02,  1.000e+00,  1.630e+02,
        4.700e+01,  6.800e+01,  1.000e+02,  7.600e+01,  4.160e+02,
        2.140e+02,  1.100e+02,  3.540e+02,  3.300e+01,  4.050e+02,
        8.600e+01,  1.520e+02,        nan,  8.200e+01,  8.300e+01,
        2.580e+02,  4.000e+02,  3.400e+01,  2.030e+02,  2.800e+02,
        4.170e+02,  1.620e+02,  1.690e+02,  1.730e+02,  1.460e+02,
        2.430e+02,  4.250e+02,  1.130e+02,  2.600e+02,  3.950e+02,
        2.660e+02,  5.800e+01,  4.100e+02,  3.880e+02,  1.300e+01,
        6.200e+01,  3.340e+02,  1.660e+02,  1.800e+01,  1.300e+02,
        4.300e+01,  1.900e+02,  3.350e+02,  5.200e+01,  7.000e+01,
        3.110e+02,  1.410e+02, -1.000e+00,  2.630e+02,  2.000e+02,
        1.440e+02,  3.200e+02,  1.900e+01,  2.930e+02,  2.400e+02,
        9.600e+01,  3.000e+02,  3.320e+02,  1.380e+02,  3.270e+02,
        3.610e+02,  3.410e+02,  3.530e+02,  2.130e+02,  7.800e+01,
        1.880e+02,  3.380e+02,  6.600e+01,  3.220e+02,  8.000e+01,
        3.820e+02,  0.000e+00,  3.190e+02,  5.000e+01,  1.180e+02,
        3.500e+02,  8.500e+01,  2.480e+02,  2.300e+02,  1.450e+02,
        2.670e+02,  4.070e+02,  2.060e+02,  2.950e+02,  1.600e+01,
        3.510e+02,  3.970e+02,  2.760e+02,  3.980e+02,  1.350e+02,
        3.150e+02,  1.050e+02,  8.700e+01,  1.890e+02,  8.100e+01,
        4.200e+01,  1.770e+02,  2.450e+02,  3.860e+02,  2.470e+02,
        3.940e+02,  1.790e+02,  3.120e+02,  1.500e+02,  4.190e+02,
        2.560e+02,  3.800e+02,  2.700e+02,  4.500e+01,  3.360e+02,
        1.760e+02,  3.790e+02,  3.500e+01,  2.100e+02,  2.640e+02,
        4.020e+02,  5.300e+01,  2.520e+02,  5.000e+00,  3.620e+02,
        2.380e+02,  6.100e+01,  3.180e+02,  1.400e+02,  1.070e+02,
        1.310e+02,  1.170e+02,  8.400e+01,  2.910e+02,  1.320e+02,
        3.250e+02,  3.310e+02,  2.830e+02,  1.140e+02,  7.700e+01,
        3.760e+02,  2.110e+02,  1.120e+02,  2.960e+02,  1.810e+02,
        1.930e+02,  2.310e+02,  3.990e+02,  7.500e+01,  1.820e+02,
        3.810e+02,  2.530e+02,  1.910e+02,  4.140e+02,  3.260e+02,
        3.890e+02, -9.000e+00,  9.000e+00,  1.470e+02,  3.450e+02,
        1.860e+02,  1.870e+02,  2.680e+02,  2.090e+02,  8.800e+01,
        4.200e+02,  3.690e+02,  2.920e+02,  1.710e+02, -4.000e+00,
        3.010e+02,  1.290e+02,  3.130e+02,  3.000e+01,  9.700e+01,
        9.500e+01,  3.730e+02,  2.360e+02, -8.000e+00,  2.510e+02,
        3.240e+02,  9.300e+01,  1.030e+02,  9.100e+01,  2.590e+02,
        3.840e+02,  1.220e+02,  4.110e+02,  7.000e+00,  2.900e+01,
        2.650e+02,  3.920e+02,  1.750e+02,  3.030e+02,  2.330e+02,
       -6.000e+00,  6.900e+01,  1.190e+02,  3.670e+02,  2.390e+02,
        1.490e+02,  3.900e+01,  3.870e+02,  3.210e+02,  3.020e+02,
        3.000e+00,  1.830e+02,  8.000e+00,  2.970e+02,  3.200e+01,
        3.550e+02,  2.500e+02,  1.640e+02,  6.700e+01,  1.090e+02,
        3.640e+02,  3.720e+02, -2.000e+00,  4.180e+02,  3.650e+02,
        1.670e+02,  1.780e+02,  1.400e+01,  3.700e+02,  2.540e+02,
        3.960e+02,  7.300e+01,  3.330e+02,  4.040e+02,  2.600e+01,
        6.400e+01,  2.460e+02,  2.610e+02,  9.200e+01,  1.420e+02,
        2.720e+02,  1.000e+01,  2.120e+02,  3.390e+02,  2.800e+01,
        3.090e+02,  1.740e+02,  2.320e+02,  1.330e+02,  1.700e+01,
        2.870e+02,  2.700e+01,  1.060e+02,  3.160e+02,  1.080e+02,
        1.680e+02,  2.780e+02,  3.780e+02,  1.250e+02,  5.700e+01,
        2.260e+02,  3.600e+01,  1.390e+02,  2.250e+02,  2.050e+02,
       -5.000e+00,  2.810e+02,  2.440e+02,  1.370e+02,  2.500e+01,
        1.950e+02,  3.700e+01,  1.040e+02,  2.790e+02,  2.010e+02,
        1.100e+01,  1.160e+02,  1.150e+02,  2.740e+02,  2.150e+02,
        1.340e+02,  6.000e+00,  1.940e+02,  2.940e+02,  1.110e+02,
        2.170e+02,  4.220e+02,  1.960e+02,  2.200e+02,  2.180e+02,
        3.930e+02,  1.550e+02,  1.500e+01,  6.500e+01,  1.580e+02,
        7.900e+01,  4.210e+02,  1.850e+02,  4.080e+02,  1.560e+02,
        9.000e+01,  2.000e+00,  2.750e+02,  3.470e+02,  1.920e+02,
        3.480e+02,  3.300e+02,  2.070e+02,  3.100e+02,  4.000e+00,
        9.800e+01,  1.540e+02,  2.300e+01,  3.570e+02,  4.400e+01,
        1.430e+02,  2.990e+02,  4.130e+02,  2.820e+02,  2.900e+02,
        3.230e+02,  2.210e+02,  2.550e+02,  4.060e+02,  3.800e+01,
        1.600e+02,  5.500e+01,  2.490e+02,  2.350e+02,  2.020e+02,
        7.200e+01,  2.770e+02,  2.100e+01,  7.400e+01,  2.220e+02,
        4.090e+02,  3.680e+02,  1.200e+01,  3.520e+02,  6.000e+01,
        1.700e+02,  2.410e+02,  3.280e+02,  4.100e+01,  8.900e+01,
        1.280e+02,  1.210e+02,  3.370e+02,  3.560e+02,  1.650e+02,
        1.970e+02,  3.140e+02,  1.980e+02,  4.230e+02,  4.120e+02,
        3.580e+02,  5.900e+01,  1.230e+02,  2.290e+02, -3.000e+00,
        3.850e+02,  3.050e+02,  2.370e+02,  2.000e+01,  2.400e+01,
        2.230e+02,  3.070e+02,  1.590e+02,  3.590e+02,  2.200e+01,
        7.100e+01,  9.900e+01,  2.340e+02,  2.710e+02,  4.600e+01,
        3.100e+01,  2.570e+02,  2.270e+02,  3.400e+02,  2.850e+02,
        3.060e+02,  2.730e+02,  5.100e+01,  3.770e+02,  5.600e+01,
        1.840e+02,  2.080e+02,  2.840e+02,  1.360e+02,  3.910e+02,
        4.900e+01,  1.510e+02,  1.270e+02,  3.430e+02,  3.080e+02,
        1.480e+02,  6.300e+01,  4.010e+02,  9.400e+01,  1.240e+02,
        3.170e+02,  3.040e+02,  1.010e+02,  2.040e+02,  4.260e+02,
        1.610e+02,  3.660e+02,  2.420e+02,  2.980e+02,  2.160e+02,
        4.000e+01,  3.630e+02,  3.600e+02,  3.440e+02,  3.290e+02,
        1.570e+02,  2.620e+02,  3.830e+02,  1.530e+02,  3.900e+02,
        1.720e+02,  3.490e+02,  3.460e+02,  1.020e+02, -1.000e+01,
        3.420e+02,  5.400e+01,  4.030e+02,  4.800e+01,  1.990e+02,
        3.710e+02,  2.690e+02,  4.240e+02,  1.260e+02,  1.200e+02,
        2.880e+02, -7.000e+00,  4.150e+02,  3.677e+03])

In [420]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84404 entries, 0 to 102057
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              84404 non-null  int64
 1   NAME                            84404 non-null  object
 2   host id                         84404 non-null  int64
 3   host_identity_verified          84190 non-null  object
 4   host name                       84404 non-null  object
 5   neighbourhood group             84387 non-null  object
 6   neighbourhood                   84404 non-null  object
 7   lat                             84404 non-null  float64
 8   long                            84404 non-null  float64
 9   room type                       84404 non-null  object
 10  Construction year               84404 non-null  int64
 11  price                           84404 non-null  int64
 12  service fee                     84197 non-null  object
 13  minimum nights                  84404 non-null  float64
 14  number of reviews               84404 non-null  float64
 15  last review                     84404 non-null  object
 16  reviews per month               84395 non-null  float64
 17  review rate number              84160 non-null  float64
 18  calculated host listings count  84146 non-null  float64
 19  availability 365                84279 non-null  float64
 20  house_rules                     39888 non-null  object
 21  license                         2 non-null      object
dtypes: float64(8), int64(4), object(10)
memory usage: 14.8+ MB

In [421]:
df = df.dropna(subset = ['availability 365'])

In [423]:
df[df['availability 365'] < 365]

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,room type,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Cleanquietapthomebythepark,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,Private room,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,SkylitMidtownCastle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
4,1003689,EntireApt:SpaciousStudio/Loftbycentralpark,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
6,1004650,BlissArtsSpace,61300605564,NaN,Alberta,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,...,$14,45.0,49.0,10/5/2017,0.40,5.0,1.0,224.0,Please no shoes in the house so bring slippers...,NaN
7,1005202,BlissArtsSpace,90821839709,unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,...,$212,45.0,49.0,10/5/2017,0.40,5.0,1.0,219.0,House Guidelines for our BnB We are delighted ...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102036,57355819,PrivateRoominBrooklynCommunalHouse,39435056937,unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.67964,-73.95629,Private room,...,NaN,2.0,16.0,10/21/2017,0.57,4.0,3.0,0.0,NaN,NaN
102038,57356923,HUGEBEDROOMLORIMERLTRAIN,29320426760,unconfirmed,Jose,Brooklyn,Williamsburg,40.71355,-73.95003,Private room,...,NaN,28.0,17.0,4/30/2019,0.61,1.0,6.0,229.0,No smoking,NaN
102039,57357476,SpacioustwobedroomscondoinupperManhattan,14430571516,verified,Max,Manhattan,Inwood,40.86461,-73.92363,Entire home/apt,...,NaN,2.0,49.0,5/23/2019,1.81,1.0,3.0,147.0,NaN,NaN
102040,57358028,RoominQueensNYnearLGA.,56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,Private room,...,$196,1.0,239.0,6/29/2019,8.58,2.0,2.0,361.0,1. Please clean-up after yourself in the kitch...,NaN
102057,57367417,RosaleeStewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,Entire home/apt,...,NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,NaN

In [424]:
df.duplicated().sum()

np.int64(0)

In [425]:
df.isnull().sum()

id                                    0
NAME                                  0
host id                               0
host_identity_verified              210
host name                             0
neighbourhood group                   9
neighbourhood                         0
lat                                   0
long                                  0
room type                             0
Construction year                     0
price                                 0
service fee                         207
minimum nights                        0
number of reviews                     0
last review                           0
reviews per month                     9
review rate number                  242
calculated host listings count      258
availability 365                      0
house_rules                       44458
license                           84277
dtype: int64

In [426]:
df['reviews per month']

0         0.21
1         0.38
4         0.10
5         0.59
6         0.40
          ...
102036    0.57
102038    0.61
102039    1.81
102040    8.58
102057    0.85
Name: reviews per month, Length: 84279, dtype: float64

In [427]:
df['reviews per month'].unique()

array([ 0.21,  0.38,  0.1 , ..., 24.49, 33.08, 10.37])

In [428]:
df = df.dropna(subset = ['reviews per month'])

In [429]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84270 entries, 0 to 102057
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              84270 non-null  int64
 1   NAME                            84270 non-null  object
 2   host id                         84270 non-null  int64
 3   host_identity_verified          84063 non-null  object
 4   host name                       84270 non-null  object
 5   neighbourhood group             84262 non-null  object
 6   neighbourhood                   84270 non-null  object
 7   lat                             84270 non-null  float64
 8   long                            84270 non-null  float64
 9   room type                       84270 non-null  object
 10  Construction year               84270 non-null  int64
 11  price                           84270 non-null  int64
 12  service fee                     84063 non-null  object
 13  minimum nights                  84270 non-null  float64
 14  number of reviews               84270 non-null  float64
 15  last review                     84270 non-null  object
 16  reviews per month               84270 non-null  float64
 17  review rate number              84028 non-null  float64
 18  calculated host listings count  84012 non-null  float64
 19  availability 365                84270 non-null  float64
 20  house_rules                     39815 non-null  object
 21  license                         2 non-null      object
dtypes: float64(8), int64(4), object(10)
memory usage: 14.8+ MB

In [430]:
df[df['reviews per month'] < 0]

Empty DataFrame
Columns: [id, NAME, host id, host_identity_verified, host name, neighbourhood group, neighbourhood, lat, long, room type, Construction year, price, service fee, minimum nights, number of reviews, last review, reviews per month, review rate number, calculated host listings count, availability 365, house_rules, license]
Index: []

[0 rows x 22 columns]

In [431]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84270 entries, 0 to 102057
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              84270 non-null  int64
 1   NAME                            84270 non-null  object
 2   host id                         84270 non-null  int64
 3   host_identity_verified          84063 non-null  object
 4   host name                       84270 non-null  object
 5   neighbourhood group             84262 non-null  object
 6   neighbourhood                   84270 non-null  object
 7   lat                             84270 non-null  float64
 8   long                            84270 non-null  float64
 9   room type                       84270 non-null  object
 10  Construction year               84270 non-null  int64
 11  price                           84270 non-null  int64
 12  service fee                     84063 non-null  object
 13  minimum nights                  84270 non-null  float64
 14  number of reviews               84270 non-null  float64
 15  last review                     84270 non-null  object
 16  reviews per month               84270 non-null  float64
 17  review rate number              84028 non-null  float64
 18  calculated host listings count  84012 non-null  float64
 19  availability 365                84270 non-null  float64
 20  house_rules                     39815 non-null  object
 21  license                         2 non-null      object
dtypes: float64(8), int64(4), object(10)
memory usage: 14.8+ MB

In [432]:
df.isnull().sum()

id                                    0
NAME                                  0
host id                               0
host_identity_verified              207
host name                             0
neighbourhood group                   8
neighbourhood                         0
lat                                   0
long                                  0
room type                             0
Construction year                     0
price                                 0
service fee                         207
minimum nights                        0
number of reviews                     0
last review                           0
reviews per month                     0
review rate number                  242
calculated host listings count      258
availability 365                      0
house_rules                       44455
license                           84268
dtype: int64

In [433]:
df = df.drop(columns = ['host_identity_verified', 'service fee', 'review rate number', 'calculated host listings count', 'house_rules', 'license'])

In [434]:
df

,id,NAME,host id,host name,neighbourhood group,neighbourhood,lat,long,room type,Construction year,price,minimum nights,number of reviews,last review,reviews per month,availability 365
0,1001254,Cleanquietapthomebythepark,80014485718,Madaline,Brooklyn,Kensington,40.64749,-73.97237,Private room,2020,966,10.0,9.0,10/19/2021,0.21,286.0
1,1002102,SkylitMidtownCastle,52335172823,Jenna,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,2007,142,30.0,45.0,5/21/2022,0.38,228.0
4,1003689,EntireApt:SpaciousStudio/Loftbycentralpark,92037596077,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,2009,204,10.0,9.0,11/19/2018,0.10,289.0
5,1004098,LargeCozy1BRApartmentInMidtownEast,45498551794,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,2013,577,3.0,74.0,6/22/2019,0.59,374.0
6,1004650,BlissArtsSpace,61300605564,Alberta,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,2015,71,45.0,49.0,10/5/2017,0.40,224.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102036,57355819,PrivateRoominBrooklynCommunalHouse,39435056937,Emma,Brooklyn,Bedford-Stuyvesant,40.67964,-73.95629,Private room,2003,1073,2.0,16.0,10/21/2017,0.57,0.0
102038,57356923,HUGEBEDROOMLORIMERLTRAIN,29320426760,Jose,Brooklyn,Williamsburg,40.71355,-73.95003,Private room,2016,570,28.0,17.0,4/30/2019,0.61,229.0
102039,57357476,SpacioustwobedroomscondoinupperManhattan,14430571516,Max,Manhattan,Inwood,40.86461,-73.92363,Entire home/apt,2003,665,2.0,49.0,5/23/2019,1.81,147.0
102040,57358028,RoominQueensNYnearLGA.,56457739998,Sonia,Queens,East Elmhurst,40.76245,-73.87938,Private room,2022,982,1.0,239.0,6/29/2019,8.58,361.0
102057,57367417,RosaleeStewart,93578954226,Stanley,Manhattan,Harlem,40.81315,-73.94747,Entire home/apt,2011,1128,4.0,22.0,6/15/2019,0.85,238.0