In [422]:
import pandas as pd
import numpy as np

In [423]:
df = pd.read_csv('audible_uncleaned.csv')

In [424]:
df

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00

In [425]:
df['name']

0                        Geronimo Stilton #11 & #12
1                                  The Burning Maze
2                                      The Deep End
3                              Daughter of the Deep
4        The Lightning Thief: Percy Jackson, Book 1
                            ...
87484                     Last Days of the Bus Club
87485                                      The Alps
87486                          The Innocents Abroad
87487                         A Sentimental Journey
87488                                        Havana
Name: name, Length: 87489, dtype: object

In [426]:
df['name'].unique()

array(['Geronimo Stilton #11 & #12', 'The Burning Maze', 'The Deep End',
       ..., 'The Alps', 'A Sentimental Journey', 'Havana'], dtype=object)

In [427]:
df.isnull().sum()

name           0
author         0
narrator       0
time           0
releasedate    0
language       0
stars          0
price          0
dtype: int64

In [428]:
df['name'].duplicated().sum()

np.int64(4722)

In [429]:
df['name'] = df['name'].str.replace(r'[^a-zA-Z0-9-:]', ' ', regex = True)

In [430]:
df['name'].unique()

array(['Geronimo Stilton  11    12', 'The Burning Maze', 'The Deep End',
       ..., 'The Alps', 'A Sentimental Journey', 'Havana'], dtype=object)

In [431]:
df['name'] = df['name'].str.replace(r'\s+', ' ', regex = True)

In [432]:
df['name'].unique()

array(['Geronimo Stilton 11 12', 'The Burning Maze', 'The Deep End', ...,
       'The Alps', 'A Sentimental Journey', 'Havana'], dtype=object)

In [433]:
df.columns

Index(['name', 'author', 'narrator', 'time', 'releasedate', 'language',
       'stars', 'price'],
      dtype='object')

In [434]:
df['name']

0                           Geronimo Stilton 11 12
1                                 The Burning Maze
2                                     The Deep End
3                             Daughter of the Deep
4        The Lightning Thief: Percy Jackson Book 1
                           ...
87484                    Last Days of the Bus Club
87485                                     The Alps
87486                         The Innocents Abroad
87487                        A Sentimental Journey
87488                                       Havana
Name: name, Length: 87489, dtype: object

In [435]:
df.columns

Index(['name', 'author', 'narrator', 'time', 'releasedate', 'language',
       'stars', 'price'],
      dtype='object')

In [436]:
df['author'].unique()

array(['Writtenby:GeronimoStilton', 'Writtenby:RickRiordan',
       'Writtenby:JeffKinney', ..., 'Writtenby:RogerW.Thompson',
       'Writtenby:ChrisStewart', "Writtenby:StephenO'Shea"], dtype=object)

In [437]:
df['author'].value_counts()

author
Writtenby:矢島雅弘,石橋遊                   874
Writtenby:SmartReading               405
Writtenby:中西貴之,BJ                    311
Writtenby:div.                       274
Writtenby:OnlineStudioProductions    212
                                    ...
Writtenby:PenHadow                     1
Writtenby:JonFaine,JackFaine           1
Writtenby:MatthewParris                1
Writtenby:ElisabethErdmenger           1
Writtenby:MartinaConrad                1
Name: count, Length: 48374, dtype: int64

In [438]:
df['author'] = df['author'].str.replace(r'[^a-zA-Z0-9-:]', ' ', regex = True)

In [439]:
df['author'].value_counts()

author
Writtenby:                                925
Writtenby:                                804
Writtenby:SmartReading                    405
Writtenby:                                333
Writtenby:     BJ                         311
                                         ...
Writtenby:KeaMartinaSchwarzfeld             1
Writtenby:ShirleyMacLaine                   1
Writtenby:Jos RentesdeCarvalho              1
Writtenby:TimKeesee                         1
Writtenby:RomanKonik DamianLeszczynski      1
Name: count, Length: 47361, dtype: int64

In [440]:
ord('Z')

90

In [441]:
def clean(x):
    st = ''
    for i in x:
        if (ord(i) >= 65) & (ord(i) <= 90):
            st += ' '
        st += i
    return st

In [442]:
df['author'] = df['author'].apply(clean)

In [443]:
df['author']

0         Writtenby: Geronimo Stilton
1             Writtenby: Rick Riordan
2              Writtenby: Jeff Kinney
3             Writtenby: Rick Riordan
4             Writtenby: Rick Riordan
                     ...
87484        Writtenby: Chris Stewart
87485      Writtenby: Stephen O  Shea
87486           Writtenby: Mark Twain
87487      Writtenby: Laurence Sterne
87488       Writtenby: Mark Kurlansky
Name: author, Length: 87489, dtype: object

In [444]:
df['author'].value_counts()

author
Writtenby:                                    925
Writtenby:                                    804
Writtenby: Smart Reading                      405
Writtenby:                                    333
Writtenby:      B J                           311
                                             ...
Writtenby: Kea Martina Schwarzfeld              1
Writtenby: Shirley Mac Laine                    1
Writtenby: Jos  Rentesde Carvalho               1
Writtenby: Tim Keesee                           1
Writtenby: Roman Konik  Damian Leszczynski      1
Name: count, Length: 47361, dtype: int64

In [445]:
df['author'] = df['author'].str.replace(r'\s+', ' ', regex = True)

In [446]:
df['author'].value_counts()

author
Writtenby:                              3349
Writtenby: Smart Reading                 405
Writtenby: B J                           311
Writtenby:div                            274
Writtenby: Online Studio Productions     212
                                        ...
Writtenby: Kea Martina Schwarzfeld         1
Writtenby: Shirley Mac Laine               1
Writtenby: Jos Rentesde Carvalho           1
Writtenby: Tim Keesee                      1
Writtenby: Thomas Rothkegel                1
Name: count, Length: 47224, dtype: int64

In [447]:
df.columns

Index(['name', 'author', 'narrator', 'time', 'releasedate', 'language',
       'stars', 'price'],
      dtype='object')

In [448]:
df['narrator'].unique()

array(['Narratedby:BillLobely', 'Narratedby:RobbieDaymond',
       'Narratedby:DanRussell', ..., 'Narratedby:JeanMarsh',
       'Narratedby:McAvoyLayne', 'Narratedby:ChrisStewart'], dtype=object)

In [449]:
df.isnull().sum()

name           0
author         0
narrator       0
time           0
releasedate    0
language       0
stars          0
price          0
dtype: int64

In [450]:
df['narrator'] = df['narrator'].apply(clean)

In [451]:
df['narrator']

0             Narratedby: Bill Lobely
1          Narratedby: Robbie Daymond
2             Narratedby: Dan Russell
3         Narratedby: Soneela Nankani
4         Narratedby: Jesse Bernstein
                     ...
87484       Narratedby: Chris Stewart
87485         Narratedby: Robert Fass
87486          Narratedby: Flo Gibson
87487        Narratedby: Anton Lesser
87488        Narratedby: Fleet Cooper
Name: narrator, Length: 87489, dtype: object

In [452]:
df['narrator'] = df['narrator'].str.replace(r'[^a-zA-Z-:]', ' ', regex = True)

In [453]:
df['narrator']

0             Narratedby: Bill Lobely
1          Narratedby: Robbie Daymond
2             Narratedby: Dan Russell
3         Narratedby: Soneela Nankani
4         Narratedby: Jesse Bernstein
                     ...
87484       Narratedby: Chris Stewart
87485         Narratedby: Robert Fass
87486          Narratedby: Flo Gibson
87487        Narratedby: Anton Lesser
87488        Narratedby: Fleet Cooper
Name: narrator, Length: 87489, dtype: object

In [454]:
df.columns

Index(['name', 'author', 'narrator', 'time', 'releasedate', 'language',
       'stars', 'price'],
      dtype='object')

In [455]:
df['time'].unique()

array(['2 hrs and 20 mins', '13 hrs and 8 mins', '2 hrs and 3 mins', ...,
       '40 hrs and 58 mins', '24 hrs and 8 mins', '24 hrs and 4 mins'],
      dtype=object)

In [456]:
df.columns

Index(['name', 'author', 'narrator', 'time', 'releasedate', 'language',
       'stars', 'price'],
      dtype='object')

In [457]:
len('10 hrs and 18 mins')

18

In [458]:
df['time'] = df['time'].astype('str')

In [459]:
len('2 hrs and 37 mins')

17

In [460]:
def cleaning(x):
    if len(x) == 17:
        return x[: 1]
    elif len(x) == 18:
        return x[: 2]
    else:
        return 0

In [461]:
df['minutes'] = df['time'].apply(cleaning)

In [462]:
df['minutes'].unique()

array(['2', '1', 0, '11', '10', '12', '13', '8', '5', '14', '16', '23',
       '6', '3', '7', '17', '22', '9', '4', '15', '20', 'Le', '26', '19',
       '33', '24', '64', '18', '55', '30', '21', '29', '31', '40', '38',
       '27', '25', '52', '37', '28', '34', '43', '32', '54', '35', '36',
       '50', '44', '48', '53', '39', '42', '41', '49', '81', '51', '57',
       '67', '47', '83', '61', '60', '45', '46', '70', '59', '92', '58',
       '62', '71', '73', '87', '65', '74', '63', '56', '82', '78', '69',
       '75', '98', '85', '72'], dtype=object)

In [463]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
 8   minutes      87489 non-null  object
dtypes: object(9)
memory usage: 6.0+ MB

In [464]:
data = list(df['minutes'])

In [465]:
df = df[df['minutes'] != 'Le']

In [466]:
df['minutes'].unique()

array(['2', '1', 0, '11', '10', '12', '13', '8', '5', '14', '16', '23',
       '6', '3', '7', '17', '22', '9', '4', '15', '20', '26', '19', '33',
       '24', '64', '18', '55', '30', '21', '29', '31', '40', '38', '27',
       '25', '52', '37', '28', '34', '43', '32', '54', '35', '36', '50',
       '44', '48', '53', '39', '42', '41', '49', '81', '51', '57', '67',
       '47', '83', '61', '60', '45', '46', '70', '59', '92', '58', '62',
       '71', '73', '87', '65', '74', '63', '56', '82', '78', '69', '75',
       '98', '85', '72'], dtype=object)

In [467]:
df['minutes'] = df['minutes'].astype('int')

C:\Users\khair\AppData\Local\Temp\ipykernel_21828\3835833412.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['minutes'] = df['minutes'].astype('int')

In [468]:
df['minutes'] = df['minutes'] * 60

C:\Users\khair\AppData\Local\Temp\ipykernel_21828\997628901.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['minutes'] = df['minutes'] * 60

In [469]:
df['minutes']

0        120
1         60
2          0
3        660
4          0
        ...
87484    420
87485     60
87486     60
87487      0
87488      0
Name: minutes, Length: 87428, dtype: int64

In [470]:
df['time'].unique()

array(['2 hrs and 20 mins', '13 hrs and 8 mins', '2 hrs and 3 mins', ...,
       '40 hrs and 58 mins', '24 hrs and 8 mins', '24 hrs and 4 mins'],
      dtype=object)

In [471]:
df = df[~df['time'].str.contains('Le', na=False)]

In [472]:
def cl(x):
    if len(x) == 18:
        return x[11 : 13]
    elif len(x) == 17:
        return x[10 : 12]
    elif 'mins' in x:
        return x [0 : 2]
    else:
        return 0

In [473]:
df['time'] = df['time'].apply(cl)

In [474]:
df['time'].unique()

array(['20', ' 8', '2 ', '16', 0, '35', '23', '32', '56', '22', '48',
       '58', '55', '25', '5 ', '41', '18', '42', '12', '29', '46', '37',
       '7 ', '44', '1 ', '28', '6 ', '26', '13', '43', '39', '31', '19',
       ' 9', '33', '51', '47', '24', '10', '49', '27', '54', '9 ', '30',
       '38', '36', '3 ', '11', '50', '52', ' 2', '4 ', '45', '21', '34',
       '57', '15', '17', '8 ', '59', '53', ' 7', '14', '40', ' 4', ' 5',
       ' 3', ' 6'], dtype=object)

In [475]:
df['time'] = df['time'].astype('int')

In [476]:
df['latest_time'] = df['time'] + df['minutes']

In [477]:
df['latest_time']

0        140
1         68
2          2
3        676
4          0
        ...
87484    454
87485     67
87486     64
87487      4
87488      0
Name: latest_time, Length: 87428, dtype: int64

In [478]:
def add(x):
    if x:
        ans = str(x) + ' ' + 'mins'
        return ans

In [479]:
df['latest_time'] = df['latest_time'].apply(add)

In [480]:
df['latest_time']

0        140 mins
1         68 mins
2          2 mins
3        676 mins
4            None
           ...
87484    454 mins
87485     67 mins
87486     64 mins
87487      4 mins
87488        None
Name: latest_time, Length: 87428, dtype: object

In [481]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87428 entries, 0 to 87488
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87428 non-null  object
 1   author       87428 non-null  object
 2   narrator     87428 non-null  object
 3   time         87428 non-null  int64
 4   releasedate  87428 non-null  object
 5   language     87428 non-null  object
 6   stars        87428 non-null  object
 7   price        87428 non-null  object
 8   minutes      87428 non-null  int64
 9   latest_time  84436 non-null  object
dtypes: int64(2), object(8)
memory usage: 7.3+ MB

In [482]:
df = df.drop(columns = ['time', 'minutes'])

In [483]:
df

,name,author,narrator,releasedate,language,stars,price,latest_time
0,Geronimo Stilton 11 12,Writtenby: Geronimo Stilton,Narratedby: Bill Lobely,04-08-08,English,5 out of 5 stars34 ratings,468.00,140 mins
1,The Burning Maze,Writtenby: Rick Riordan,Narratedby: Robbie Daymond,01-05-18,English,4.5 out of 5 stars41 ratings,820.00,68 mins
2,The Deep End,Writtenby: Jeff Kinney,Narratedby: Dan Russell,06-11-20,English,4.5 out of 5 stars38 ratings,410.00,2 mins
3,Daughter of the Deep,Writtenby: Rick Riordan,Narratedby: Soneela Nankani,05-10-21,English,4.5 out of 5 stars12 ratings,615.00,676 mins
4,The Lightning Thief: Percy Jackson Book 1,Writtenby: Rick Riordan,Narratedby: Jesse Bernstein,13-01-10,English,4.5 out of 5 stars181 ratings,820.00,None
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby: Chris Stewart,Narratedby: Chris Stewart,09-03-17,English,Not rated yet,596.00,454 mins
87485,The Alps,Writtenby: Stephen O Shea,Narratedby: Robert Fass,21-02-17,English,Not rated yet,820.00,67 mins
87486,The Innocents Abroad,Writtenby: Mark Twain,Narratedby: Flo Gibson,30-12-16,English,Not rated yet,938.00,64 mins
87487,A Sentimental Journey,Writtenby: Laurence Sterne,Narratedby: Anton Lesser,23-02-11,English,Not rated yet,680.00,4 mins
87488,Havana,Writtenby: Mark Kurlansky,Narratedby: Fleet Cooper,07-03-17,English,Not rated yet,569.00,None

In [484]:
df.columns

Index(['name', 'author', 'narrator', 'releasedate', 'language', 'stars',
       'price', 'latest_time'],
      dtype='object')

In [485]:
df['releasedate'].unique()

array(['04-08-08', '01-05-18', '06-11-20', ..., '03-02-06', '13-02-01',
       '08-04-04'], dtype=object)

In [486]:
df['releasedate'].value_counts()

releasedate
16-05-18    770
04-01-22    505
01-02-22    403
15-03-22    367
08-02-22    358
           ...
23-06-03      1
27-11-01      1
07-07-04      1
01-04-02      1
07-07-99      1
Name: count, Length: 5058, dtype: int64

In [487]:
def cle(x):
    st1 = ''
    st2 = ''
    st3 = ''
    word = x[6 : 8]
    if int(word) <= 25:
        st1 += x[0 : 6]
        st2 += '20'
        st3 += x[6 : 8]
        return st1 + st2 + st3
    else:
        st1 += x[0 : 6]
        st2 += '19'
        st3 += x[6 : 8]
        return st1 + st2 + st3

In [488]:
df['releasedate'] = df['releasedate'].apply(cle)

In [489]:
df['releasedate'].value_counts()

releasedate
16-05-2018    770
04-01-2022    505
01-02-2022    403
15-03-2022    367
08-02-2022    358
             ...
23-06-2003      1
27-11-2001      1
07-07-2004      1
01-04-2002      1
07-07-1999      1
Name: count, Length: 5058, dtype: int64

In [490]:
df.columns

Index(['name', 'author', 'narrator', 'releasedate', 'language', 'stars',
       'price', 'latest_time'],
      dtype='object')

In [491]:
df['language']

0        English
1        English
2        English
3        English
4        English
          ...
87484    English
87485    English
87486    English
87487    English
87488    English
Name: language, Length: 87428, dtype: object

In [492]:
df['language'].unique()

array(['English', 'Hindi', 'spanish', 'german', 'french', 'catalan',
       'swedish', 'italian', 'danish', 'finnish', 'dutch', 'hebrew',
       'russian', 'polish', 'galician', 'afrikaans', 'icelandic',
       'romanian', 'japanese', 'tamil', 'portuguese', 'urdu', 'hungarian',
       'czech', 'bulgarian', 'mandarin_chinese', 'basque', 'korean',
       'arabic', 'greek', 'turkish', 'ukrainian', 'slovene', 'norwegian',
       'telugu', 'lithuanian'], dtype=object)

In [493]:
df['language'].value_counts()

language
English             61864
german               8294
spanish              3496
japanese             3127
italian              2694
french               2386
russian              1804
danish                935
portuguese            526
swedish               515
Hindi                 436
polish                224
finnish               197
dutch                 190
tamil                 161
catalan               153
mandarin_chinese       97
icelandic              52
romanian               50
hungarian              36
urdu                   34
afrikaans              28
czech                  23
turkish                20
greek                  18
arabic                 16
norwegian              16
galician               10
bulgarian               9
slovene                 4
korean                  4
hebrew                  2
basque                  2
telugu                  2
lithuanian              2
ukrainian               1
Name: count, dtype: int64

In [494]:
def upper(x):
    st = ''
    if (ord(x[0]) >= 65) & (ord(x[0]) <= 90):
        st += x[0]
        st += x[1 : len(x)]
    elif (ord(x[0]) >= 97) & (ord(x[0]) <= 122):
        ans = chr(ord(x[0]) - 32)
        st += ans
        st += x[1 : len(x)]
    else:
        return
    return st

In [495]:
df['language'] = df['language'].apply(upper)

In [496]:
df['language']

0        English
1        English
2        English
3        English
4        English
          ...
87484    English
87485    English
87486    English
87487    English
87488    English
Name: language, Length: 87428, dtype: object

In [497]:
df['language'].unique()

array(['English', 'Hindi', 'Spanish', 'German', 'French', 'Catalan',
       'Swedish', 'Italian', 'Danish', 'Finnish', 'Dutch', 'Hebrew',
       'Russian', 'Polish', 'Galician', 'Afrikaans', 'Icelandic',
       'Romanian', 'Japanese', 'Tamil', 'Portuguese', 'Urdu', 'Hungarian',
       'Czech', 'Bulgarian', 'Mandarin_chinese', 'Basque', 'Korean',
       'Arabic', 'Greek', 'Turkish', 'Ukrainian', 'Slovene', 'Norwegian',
       'Telugu', 'Lithuanian'], dtype=object)

In [498]:
df.columns

Index(['name', 'author', 'narrator', 'releasedate', 'language', 'stars',
       'price', 'latest_time'],
      dtype='object')

In [499]:
df['stars']

0           5 out of 5 stars34 ratings
1         4.5 out of 5 stars41 ratings
2         4.5 out of 5 stars38 ratings
3         4.5 out of 5 stars12 ratings
4        4.5 out of 5 stars181 ratings
                     ...
87484                    Not rated yet
87485                    Not rated yet
87486                    Not rated yet
87487                    Not rated yet
87488                    Not rated yet
Name: stars, Length: 87428, dtype: object

In [500]:
df['stars'].unique()

array(['5 out of 5 stars34 ratings', '4.5 out of 5 stars41 ratings',
       '4.5 out of 5 stars38 ratings', '4.5 out of 5 stars12 ratings',
       '4.5 out of 5 stars181 ratings', '5 out of 5 stars72 ratings',
       '5 out of 5 stars11 ratings', '5 out of 5 stars50 ratings',
       '5 out of 5 stars5 ratings', '5 out of 5 stars58 ratings',
       '4.5 out of 5 stars130 ratings', '5 out of 5 stars6 ratings',
       '5 out of 5 stars7 ratings', '5 out of 5 stars41 ratings',
       '4 out of 5 stars2 ratings', '4.5 out of 5 stars33 ratings',
       '5 out of 5 stars20 ratings', '5 out of 5 stars13 ratings',
       '5 out of 5 stars79 ratings', '4.5 out of 5 stars47 ratings',
       '5 out of 5 stars27 ratings', '4.5 out of 5 stars25 ratings',
       '5 out of 5 stars101 ratings', '5 out of 5 stars15 ratings',
       '5 out of 5 stars3 ratings', '5 out of 5 stars18 ratings',
       '4.5 out of 5 stars37 ratings', '5 out of 5 stars9 ratings',
       '5 out of 5 stars8 ratings', 'Not rated yet',
       '4.5 out of 5 stars10 ratings', '4 out of 5 stars28 ratings',
       '5 out of 5 stars19 ratings', '4 out of 5 stars16 ratings',
       '5 out of 5 stars12 ratings', '4.5 out of 5 stars16 ratings',
       '4 out of 5 stars4 ratings', '5 out of 5 stars10 ratings',
       '5 out of 5 stars17 ratings', '4.5 out of 5 stars4 ratings',
       '5 out of 5 stars1 rating', '5 out of 5 stars14 ratings',
       '5 out of 5 stars4 ratings', '3.5 out of 5 stars7 ratings',
       '5 out of 5 stars2 ratings', '4.5 out of 5 stars3 ratings',
       '4.5 out of 5 stars21 ratings', '4 out of 5 stars1 rating',
       '3 out of 5 stars5 ratings', '4.5 out of 5 stars20 ratings',
       '4.5 out of 5 stars2 ratings', '4.5 out of 5 stars7 ratings',
       '4.5 out of 5 stars14 ratings', '4.5 out of 5 stars13 ratings',
       '4.5 out of 5 stars11 ratings', '4.5 out of 5 stars8 ratings',
       '4.5 out of 5 stars17 ratings', '4.5 out of 5 stars5 ratings',
       '4.5 out of 5 stars15 ratings', '4.5 out of 5 stars9 ratings',
       '4 out of 5 stars9 ratings', '4 out of 5 stars5 ratings',
       '4.5 out of 5 stars6 ratings', '3 out of 5 stars1 rating',
       '3.5 out of 5 stars2 ratings', '5 out of 5 stars81 ratings',
       '4.5 out of 5 stars57 ratings', '4.5 out of 5 stars91 ratings',
       '4.5 out of 5 stars100 ratings', '4.5 out of 5 stars31 ratings',
       '4.5 out of 5 stars51 ratings', '4.5 out of 5 stars26 ratings',
       '5 out of 5 stars32 ratings', '3.5 out of 5 stars3 ratings',
       '4 out of 5 stars11 ratings', '4 out of 5 stars7 ratings',
       '4 out of 5 stars8 ratings', '1 out of 5 stars1 rating',
       '4 out of 5 stars12 ratings', '3.5 out of 5 stars10 ratings',
       '3 out of 5 stars3 ratings', '1 out of 5 stars3 ratings',
       '2 out of 5 stars1 rating', '4.5 out of 5 stars27 ratings',
       '4.5 out of 5 stars53 ratings', '4 out of 5 stars6 ratings',
       '4.5 out of 5 stars52 ratings', '4 out of 5 stars20 ratings',
       '4.5 out of 5 stars93 ratings', '3.5 out of 5 stars46 ratings',
       '5 out of 5 stars24 ratings', '4.5 out of 5 stars96 ratings',
       '4.5 out of 5 stars28 ratings', '3.5 out of 5 stars9 ratings',
       '4 out of 5 stars3 ratings', '3 out of 5 stars4 ratings',
       '4.5 out of 5 stars79 ratings', '3 out of 5 stars2 ratings',
       '4 out of 5 stars15 ratings', '5 out of 5 stars1,423 ratings',
       '5 out of 5 stars636 ratings', '5 out of 5 stars720 ratings',
       '5 out of 5 stars1,006 ratings', '5 out of 5 stars572 ratings',
       '5 out of 5 stars664 ratings', '5 out of 5 stars39 ratings',
       '5 out of 5 stars845 ratings', '5 out of 5 stars64 ratings',
       '4.5 out of 5 stars32 ratings', '4 out of 5 stars141 ratings',
       '5 out of 5 stars40 ratings', '5 out of 5 stars35 ratings',
       '5 out of 5 stars23 ratings', '5 out of 5 stars43 ratings',
       '5 out of 5 stars37 ratings', '5 out of 5 stars67 ratings',
       '5 out of 5 stars96 ratings', '4.5 out of 5 stars266 ratings',
       '4.5 out of 5 stars174 ratings', '4.5 out of 5 stars86 ratings',
       '5 out of 5 stars25 ratings', '5 out of 5 stars29 ratings',
       '4.5 out of 5 stars23 ratings', '5 out of 5 stars188 ratings',
       '5 out of 5 stars21 ratings', '4.5 out of 5 stars29 ratings',
       '4.5 out of 5 stars50 ratings', '4.5 out of 5 stars39 ratings',
       '4.5 out of 5 stars35 ratings', '4 out of 5 stars105 ratings',
       '4 out of 5 stars19 ratings', '4.5 out of 5 stars65 ratings',
       '3.5 out of 5 stars5 ratings', '5 out of 5 stars28 ratings',
       '5 out of 5 stars30 ratings', '4.5 out of 5 stars19 ratings',
       '4.5 out of 5 stars18 ratings', '4.5 out of 5 stars63 ratings',
       '4.5 out of 5 stars62 ratings', '4.5 out of 5 stars24 ratings',
       '4.5 out of 5 stars188 ratings', '4.5 out of 5 stars113 ratings',
       '4.5 out of 5 stars59 ratings', '4 out of 5 stars37 ratings',
       '4.5 out of 5 stars77 ratings', '4 out of 5 stars30 ratings',
       '2.5 out of 5 stars2 ratings', '1 out of 5 stars2 ratings',
       '4.5 out of 5 stars329 ratings', '5 out of 5 stars130 ratings',
       '4 out of 5 stars18 ratings', '2.5 out of 5 stars3 ratings',
       '4.5 out of 5 stars55 ratings', '4 out of 5 stars25 ratings',
       '4.5 out of 5 stars154 ratings', '5 out of 5 stars46 ratings',
       '4.5 out of 5 stars61 ratings', '4.5 out of 5 stars22 ratings',
       '3.5 out of 5 stars6 ratings', '4.5 out of 5 stars90 ratings',
       '4.5 out of 5 stars34 ratings', '4.5 out of 5 stars69 ratings',
       '4.5 out of 5 stars136 ratings', '4.5 out of 5 stars94 ratings',
       '4.5 out of 5 stars206 ratings', '3 out of 5 stars82 ratings',
       '4 out of 5 stars164 ratings', '3 out of 5 stars10 ratings',
       '4 out of 5 stars66 ratings', '3.5 out of 5 stars34 ratings',
       '3.5 out of 5 stars21 ratings', '3.5 out of 5 stars17 ratings',
       '3.5 out of 5 stars29 ratings', '3.5 out of 5 stars4 ratings',
       '2.5 out of 5 stars8 ratings', '2 out of 5 stars3 ratings',
       '4 out of 5 stars10 ratings', '4.5 out of 5 stars30 ratings',
       '5 out of 5 stars113 ratings', '4.5 out of 5 stars75 ratings',
       '4.5 out of 5 stars58 ratings', '4 out of 5 stars319 ratings',
       '4 out of 5 stars233 ratings', '4.5 out of 5 stars48 ratings',
       '3.5 out of 5 stars85 ratings', '5 out of 5 stars78 ratings',
       '5 out of 5 stars56 ratings', '4.5 out of 5 stars193 ratings',
       '5 out of 5 stars591 ratings', '4.5 out of 5 stars1,216 ratings',
       '3.5 out of 5 stars112 ratings', '4.5 out of 5 stars103 ratings',
       '4.5 out of 5 stars49 ratings', '4 out of 5 stars137 ratings',
       '4.5 out of 5 stars315 ratings', '4.5 out of 5 stars396 ratings',
       '4 out of 5 stars17 ratings', '4 out of 5 stars40 ratings',
       '4 out of 5 stars27 ratings', '4.5 out of 5 stars83 ratings',
       '5 out of 5 stars219 ratings', '4.5 out of 5 stars258 ratings',
       '4.5 out of 5 stars36 ratings', '4.5 out of 5 stars45 ratings',
       '4.5 out of 5 stars169 ratings', '4.5 out of 5 stars287 ratings',
       '4.5 out of 5 stars148 ratings', '5 out of 5 stars42 ratings',
       '5 out of 5 stars213 ratings', '4.5 out of 5 stars114 ratings',
       '4.5 out of 5 stars131 ratings', '4.5 out of 5 stars107 ratings',
       '4.5 out of 5 stars121 ratings', '3 out of 5 stars6 ratings',
       '4 out of 5 stars57 ratings', '4.5 out of 5 stars134 ratings',
       '4.5 out of 5 stars95 ratings', '4.5 out of 5 stars519 ratings',
       '4.5 out of 5 stars159 ratings', '5 out of 5 stars1,823 ratings',
       '5 out of 5 stars102 ratings', '5 out of 5 stars382 ratings',
       '5 out of 5 stars91 ratings', '4.5 out of 5 stars71 ratings',
       '5 out of 5 stars164 ratings', '4.5 out of 5 stars1,636 ratings',
       '4.5 out of 5 stars68 ratings', '4.5 out of 5 stars856 ratings',
       '4.5 out of 5 stars538 ratings', '4.5 out of 5 stars735 ratings',
       '4.5 out of 5 stars619 ratings', '4.5 out of 5 stars2,161 ratings',
       '4.5 out of 5 stars43 ratings', '4.5 out of 5 stars562 ratings',
       '5 out of 5 stars819 ratings', '4.5 out of 5 stars232 ratings',
       '4.5 out of 5 stars151 ratings', '5 out of 5 stars74 ratings',
       '4 out of 5 stars14 ratings', '4.5 out of 5 stars87 ratings',
       '4.5 out of 5 stars168 ratings', '4 out of 5 stars93 ratings',
       '4.5 out of 5 stars46 ratings', '4.5 out of 5 stars72 ratings',
       '4.5 out of 5 stars392 ratings', '5 out of 5 stars53 ratings',
       '4.5 out of 5 stars328 ratings', '4.5 out of 5 stars245 ratings',
       '4.5 out of 5 stars82 ratings', '4.5 out of 5 stars78 ratings',
       '5 out of 5 stars16 ratings', '4.5 out of 5 stars40 ratings',
       '4.5 out of 5 stars213 ratings', '4.5 out of 5 stars222 ratings',
       '4 out of 5 stars21 ratings', '4 out of 5 stars22 ratings',
       '3.5 out of 5 stars15 ratings', '4 out of 5 stars47 ratings',
       '4.5 out of 5 stars472 ratings', '4.5 out of 5 stars171 ratings',
       '5 out of 5 stars128 ratings', '5 out of 5 stars80 ratings',
       '5 out of 5 stars45 ratings', '4.5 out of 5 stars104 ratings',
       '1.5 out of 5 stars2 ratings', '4.5 out of 5 stars85 ratings',
       '4 out of 5 stars32 ratings', '5 out of 5 stars57 ratings',
       '2 out of 5 stars4 ratings', '4.5 out of 5 stars60 ratings',
       '4.5 out of 5 stars177 ratings', '4.5 out of 5 stars98 ratings',
       '4.5 out of 5 stars486 ratings', '5 out of 5 stars47 ratings',
       '4.5 out of 5 stars2,924 ratings', '4.5 out of 5 stars97 ratings',
       '4.5 out of 5 stars647 ratings', '4 out of 5 stars41 ratings',
       '4.5 out of 5 stars116 ratings', '4.5 out of 5 stars438 ratings',
       '4.5 out of 5 stars243 ratings', '4.5 out of 5 stars326 ratings',
       '4.5 out of 5 stars157 ratings', '4.5 out of 5 stars523 ratings',
       '4.5 out of 5 stars67 ratings', '4.5 out of 5 stars348 ratings',
       '4.5 out of 5 stars1,807 ratings', '5 out of 5 stars83 ratings',
       '4.5 out of 5 stars44 ratings', '4.5 out of 5 stars183 ratings',
       '4.5 out of 5 stars122 ratings', '4.5 out of 5 stars218 ratings',
       '4.5 out of 5 stars319 ratings', '4.5 out of 5 stars882 ratings',
       '4 out of 5 stars59 ratings', '3.5 out of 5 stars36 ratings',
       '5 out of 5 stars22 ratings', '4 out of 5 stars49 ratings',
       '4.5 out of 5 stars70 ratings', '4.5 out of 5 stars54 ratings',
       '4.5 out of 5 stars117 ratings', '5 out of 5 stars136 ratings',
       '5 out of 5 stars31 ratings', '4.5 out of 5 stars367 ratings',
       '4 out of 5 stars62 ratings', '5 out of 5 stars54 ratings',
       '4.5 out of 5 stars76 ratings', '5 out of 5 stars33 ratings',
       '5 out of 5 stars36 ratings', '4 out of 5 stars511 ratings',
       '4.5 out of 5 stars145 ratings', '4.5 out of 5 stars202 ratings',
       '4.5 out of 5 stars120 ratings', '4.5 out of 5 stars89 ratings',
       '4.5 out of 5 stars262 ratings', '4.5 out of 5 stars73 ratings',
       '4.5 out of 5 stars135 ratings', '4.5 out of 5 stars146 ratings',
       '4.5 out of 5 stars1,563 ratings', '4.5 out of 5 stars111 ratings',
       '4.5 out of 5 stars106 ratings', '4.5 out of 5 stars74 ratings',
       '4.5 out of 5 stars153 ratings', '4.5 out of 5 stars642 ratings',
       '4.5 out of 5 stars200 ratings', '4 out of 5 stars140 ratings',
       '5 out of 5 stars51 ratings', '4.5 out of 5 stars56 ratings',
       '4 out of 5 stars63 ratings', '2 out of 5 stars2 ratings',
       '3.5 out of 5 stars28 ratings', '3.5 out of 5 stars8 ratings',
       '4.5 out of 5 stars355 ratings', '4.5 out of 5 stars99 ratings',
       '4.5 out of 5 stars132 ratings', '5 out of 5 stars111 ratings',
       '4 out of 5 stars13 ratings', '4 out of 5 stars183 ratings',
       '5 out of 5 stars135 ratings', '5 out of 5 stars38 ratings',
       '4.5 out of 5 stars88 ratings', '4.5 out of 5 stars119 ratings',
       '5 out of 5 stars212 ratings', '4.5 out of 5 stars400 ratings',
       '4.5 out of 5 stars127 ratings', '4.5 out of 5 stars929 ratings',
       '4.5 out of 5 stars312 ratings', '4.5 out of 5 stars887 ratings',
       '4.5 out of 5 stars487 ratings', '4.5 out of 5 stars941 ratings',
       '4.5 out of 5 stars688 ratings', '4.5 out of 5 stars291 ratings',
       '4.5 out of 5 stars683 ratings', '4.5 out of 5 stars42 ratings',
       '4.5 out of 5 stars443 ratings', '4.5 out of 5 stars575 ratings',
       '4.5 out of 5 stars460 ratings', '4.5 out of 5 stars1,080 ratings',
       '4.5 out of 5 stars561 ratings', '5 out of 5 stars73 ratings',
       '4.5 out of 5 stars197 ratings', '5 out of 5 stars159 ratings',
       '4.5 out of 5 stars80 ratings', '4 out of 5 stars161 ratings',
       '4.5 out of 5 stars170 ratings', '4.5 out of 5 stars182 ratings',
       '5 out of 5 stars44 ratings', '4 out of 5 stars247 ratings',
       '4 out of 5 stars77 ratings', '4.5 out of 5 stars149 ratings',
       '3.5 out of 5 stars11 ratings', '4 out of 5 stars71 ratings',
       '4.5 out of 5 stars540 ratings', '4.5 out of 5 stars544 ratings',
       '4.5 out of 5 stars271 ratings', '4.5 out of 5 stars480 ratings',
       '5 out of 5 stars26 ratings', '4.5 out of 5 stars184 ratings',
       '4.5 out of 5 stars227 ratings', '4.5 out of 5 stars1,869 ratings',
       '5 out of 5 stars59 ratings', '5 out of 5 stars68 ratings',
       '5 out of 5 stars176 ratings', '4.5 out of 5 stars186 ratings',
       '4.5 out of 5 stars118 ratings', '4.5 out of 5 stars747 ratings',
       '5 out of 5 stars93 ratings', '5 out of 5 stars60 ratings',
       '4 out of 5 stars29 ratings', '5 out of 5 stars321 ratings',
       '3.5 out of 5 stars61 ratings', '4.5 out of 5 stars194 ratings',
       '5 out of 5 stars494 ratings', '4.5 out of 5 stars959 ratings',
       '4.5 out of 5 stars551 ratings', '4.5 out of 5 stars506 ratings',
       '4.5 out of 5 stars437 ratings', '5 out of 5 stars12,569 ratings',
       '4.5 out of 5 stars66 ratings', '4.5 out of 5 stars359 ratings',
       '4.5 out of 5 stars476 ratings', '4 out of 5 stars72 ratings',
       '5 out of 5 stars143 ratings', '5 out of 5 stars239 ratings',
       '4 out of 5 stars103 ratings', '4.5 out of 5 stars102 ratings',
       '4 out of 5 stars1,217 ratings', '4.5 out of 5 stars64 ratings',
       '4 out of 5 stars38 ratings', '4.5 out of 5 stars150 ratings',
       '3.5 out of 5 stars25 ratings', '5 out of 5 stars99 ratings',
       '4.5 out of 5 stars195 ratings', '5 out of 5 stars85 ratings',
       '5 out of 5 stars173 ratings', '4.5 out of 5 stars176 ratings',
       '4.5 out of 5 stars935 ratings', '4.5 out of 5 stars375 ratings',
       '4 out of 5 stars78 ratings', '4.5 out of 5 stars156 ratings',
       '4 out of 5 stars35 ratings', '4 out of 5 stars33 ratings',
       '5 out of 5 stars5,500 ratings', '4.5 out of 5 stars536 ratings',
       '4.5 out of 5 stars125 ratings', '4.5 out of 5 stars2,236 ratings',
       '4 out of 5 stars58 ratings', '5 out of 5 stars92 ratings',
       '4 out of 5 stars171 ratings', '5 out of 5 stars926 ratings',
       '4.5 out of 5 stars558 ratings', '4 out of 5 stars94 ratings',
       '4 out of 5 stars136 ratings', '3.5 out of 5 stars16 ratings',
       '4.5 out of 5 stars261 ratings', '4.5 out of 5 stars1,088 ratings',
       '4 out of 5 stars87 ratings', '5 out of 5 stars274 ratings',
       '4 out of 5 stars51 ratings', '4 out of 5 stars112 ratings',
       '4 out of 5 stars65 ratings', '5 out of 5 stars265 ratings',
       '4.5 out of 5 stars419 ratings', '4 out of 5 stars188 ratings',
       '4 out of 5 stars34 ratings', '5 out of 5 stars62 ratings',
       '3.5 out of 5 stars54 ratings', '4 out of 5 stars44 ratings',
       '4 out of 5 stars36 ratings', '3 out of 5 stars8 ratings',
       '1.5 out of 5 stars3 ratings', '3.5 out of 5 stars14 ratings',
       '4.5 out of 5 stars484 ratings', '4.5 out of 5 stars363 ratings',
       '4.5 out of 5 stars322 ratings', '4 out of 5 stars31 ratings',
       '4.5 out of 5 stars141 ratings', '5 out of 5 stars838 ratings',
       '5 out of 5 stars298 ratings', '5 out of 5 stars208 ratings',
       '4.5 out of 5 stars577 ratings', '5 out of 5 stars165 ratings',
       '4.5 out of 5 stars108 ratings', '4 out of 5 stars133 ratings',
       '4.5 out of 5 stars109 ratings', '5 out of 5 stars192 ratings',
       '4.5 out of 5 stars112 ratings', '5 out of 5 stars120 ratings',
       '4.5 out of 5 stars162 ratings', '4.5 out of 5 stars361 ratings',
       '2 out of 5 stars5 ratings', '4 out of 5 stars26 ratings',
       '4.5 out of 5 stars1,491 ratings', '4.5 out of 5 stars397 ratings',
       '4.5 out of 5 stars229 ratings', '4 out of 5 stars92 ratings',
       '4 out of 5 stars50 ratings', '4.5 out of 5 stars166 ratings',
       '4.5 out of 5 stars178 ratings', '4.5 out of 5 stars841 ratings',
       '4 out of 5 stars80 ratings', '4.5 out of 5 stars1,317 ratings',
       '4 out of 5 stars116 ratings', '4 out of 5 stars150 ratings',
       '4 out of 5 stars130 ratings', '4 out of 5 stars227 ratings',
       '4.5 out of 5 stars259 ratings', '4 out of 5 stars68 ratings',
       '5 out of 5 stars352 ratings', '4.5 out of 5 stars196 ratings',
       '4.5 out of 5 stars110 ratings', '4.5 out of 5 stars137 ratings',
       '4.5 out of 5 stars265 ratings', '5 out of 5 stars252 ratings',
       '5 out of 5 stars61 ratings', '4.5 out of 5 stars511 ratings',
       '4.5 out of 5 stars1,107 ratings', '4 out of 5 stars52 ratings',
       '4.5 out of 5 stars81 ratings', '4 out of 5 stars89 ratings',
       '4 out of 5 stars74 ratings', '4 out of 5 stars96 ratings',
       '4 out of 5 stars23 ratings', '4 out of 5 stars43 ratings',
       '4 out of 5 stars202 ratings', '5 out of 5 stars267 ratings',
       '3.5 out of 5 stars33 ratings', '4.5 out of 5 stars352 ratings',
       '4.5 out of 5 stars378 ratings', '4 out of 5 stars24 ratings',
       '3.5 out of 5 stars30 ratings', '4 out of 5 stars54 ratings',
       '5 out of 5 stars70 ratings', '4 out of 5 stars120 ratings',
       '5 out of 5 stars233 ratings', '4 out of 5 stars55 ratings',
       '5 out of 5 stars55 ratings', '5 out of 5 stars342 ratings',
       '5 out of 5 stars146 ratings', '5 out of 5 stars167 ratings',
       '5 out of 5 stars189 ratings', '4.5 out of 5 stars143 ratings',
       '4.5 out of 5 stars123 ratings', '3 out of 5 stars20 ratings',
       '3 out of 5 stars14 ratings', '3.5 out of 5 stars45 ratings',
       '4.5 out of 5 stars1,150 ratings', '3.5 out of 5 stars12 ratings',
       '2 out of 5 stars10 ratings', '4.5 out of 5 stars101 ratings',
       '4 out of 5 stars48 ratings', '5 out of 5 stars71 ratings',
       '4 out of 5 stars85 ratings', '4 out of 5 stars56 ratings',
       '4.5 out of 5 stars1,263 ratings', '4.5 out of 5 stars975 ratings',
       '4.5 out of 5 stars105 ratings', '3 out of 5 stars13 ratings',
       '3.5 out of 5 stars13 ratings', '4.5 out of 5 stars260 ratings',
       '4.5 out of 5 stars129 ratings', '4.5 out of 5 stars246 ratings',
       '4.5 out of 5 stars92 ratings', '4 out of 5 stars139 ratings',
       '4 out of 5 stars180 ratings', '4.5 out of 5 stars5,972 ratings',
       '4.5 out of 5 stars221 ratings', '4.5 out of 5 stars302 ratings',
       '4.5 out of 5 stars5,324 ratings', '4.5 out of 5 stars140 ratings',
       '3.5 out of 5 stars18 ratings', '4.5 out of 5 stars216 ratings',
       '4.5 out of 5 stars190 ratings', '4.5 out of 5 stars5,973 ratings',
       '4.5 out of 5 stars1,112 ratings', '4.5 out of 5 stars345 ratings',
       '4.5 out of 5 stars128 ratings', '2.5 out of 5 stars11 ratings',
       '4.5 out of 5 stars961 ratings', '4.5 out of 5 stars138 ratings',
       '4 out of 5 stars1,412 ratings', '4 out of 5 stars73 ratings',
       '4.5 out of 5 stars152 ratings', '4 out of 5 stars61 ratings',
       '4.5 out of 5 stars399 ratings', '4 out of 5 stars46 ratings',
       '5 out of 5 stars240 ratings', '4.5 out of 5 stars84 ratings',
       '4 out of 5 stars39 ratings', '3.5 out of 5 stars134 ratings',

In [505]:
def extraction(x):
    if x == 'Not rated yet':
        return x
    elif (len(x[0]) == 1) & (ord(x[1]) == 32):
        return float(x[0])
    elif (len(x[0 : 3]) == 3) & (ord(x[3]) == 32):
        return float(x[0 : 3])
    else:
        return

In [506]:
df['stars'] = df['stars'].apply(extraction)

In [507]:
df['stars'].unique()

array([5.0, 4.5, 4.0, 'Not rated yet', 3.5, 3.0, 1.0, 2.0, 2.5, 1.5],
      dtype=object)

In [508]:
df.columns

Index(['name', 'author', 'narrator', 'releasedate', 'language', 'stars',
       'price', 'latest_time'],
      dtype='object')

In [509]:
df['price']

0        468.00
1        820.00
2        410.00
3        615.00
4        820.00
          ...
87484    596.00
87485    820.00
87486    938.00
87487    680.00
87488    569.00
Name: price, Length: 87428, dtype: object

In [510]:
df.isnull().sum()

name              0
author            0
narrator          0
releasedate       0
language          0
stars             0
price             0
latest_time    2992
dtype: int64

In [512]:
df['latest_time'] = df['latest_time'].fillna('Unknown')

In [513]:
df['latest_time'].unique()

array(['140 mins', '68 mins', '2 mins', ..., '1753 mins', '1711 mins',
       '2458 mins'], dtype=object)

In [514]:
df.isnull().sum()

name           0
author         0
narrator       0
releasedate    0
language       0
stars          0
price          0
latest_time    0
dtype: int64

In [515]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87428 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87428 non-null  object
 1   author       87428 non-null  object
 2   narrator     87428 non-null  object
 3   releasedate  87428 non-null  object
 4   language     87428 non-null  object
 5   stars        87428 non-null  object
 6   price        87428 non-null  object
 7   latest_time  87428 non-null  object
dtypes: object(8)
memory usage: 6.0+ MB

In [517]:
df['price'] = df['price'].str.replace(',', '')

In [518]:
df['price'] = df['price'].astype('float')

ValueError: could not convert string to float: 'Free'

In [520]:
df['price'] = df['price'].str.replace('Free', '0')

In [521]:
df['price'] = df['price'].astype('float')

In [523]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87428 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87428 non-null  object
 1   author       87428 non-null  object
 2   narrator     87428 non-null  object
 3   releasedate  87428 non-null  object
 4   language     87428 non-null  object
 5   stars        87428 non-null  object
 6   price        87428 non-null  float64
 7   latest_time  87428 non-null  object
dtypes: float64(1), object(7)
memory usage: 6.0+ MB

In [524]:
df['price']

0        468.0
1        820.0
2        410.0
3        615.0
4        820.0
         ...
87484    596.0
87485    820.0
87486    938.0
87487    680.0
87488    569.0
Name: price, Length: 87428, dtype: float64

In [525]:
df.columns

Index(['name', 'author', 'narrator', 'releasedate', 'language', 'stars',
       'price', 'latest_time'],
      dtype='object')