In [467]:
import numpy as np
import pandas as pd

In [468]:
df = pd.read_csv('train (2).csv')

In [469]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [470]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [471]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [472]:
df.duplicated().sum()

np.int64(0)

In [473]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [474]:
df['PassengerId'].duplicated().sum()

np.int64(0)

In [475]:
df['PassengerId'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507,
       508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546,
       547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
       560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572,
       573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585,
       586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598,
       599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611,
       612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624,
       625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637,
       638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650,
       651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663,
       664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676,
       677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689,
       690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702,
       703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715,
       716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728,
       729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741,
       742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754,
       755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767,
       768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780,
       781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793,
       794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806,
       807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819,
       820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832,
       833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845,
       846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858,
       859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871,
       872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884,
       885, 886, 887, 888, 889, 890, 891])

In [476]:
df = df.dropna(subset = ['PassengerId'])

In [477]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [478]:
df['Name'] = df['Name'].astype('str')

In [479]:
df['Name'] = df['Name'].str.replace(',', '')
df['Name'] = df['Name'].str.replace('Mrs', '')
df['Name'] = df['Name'].str.replace('Mr', '')

In [480]:
df['Name'] = df['Name'].str.replace('.', '')

In [481]:
df['Name'] = df['Name'].str.replace('(', '')
df['Name'] = df['Name'].str.replace(')', '')

In [482]:
df['Name'].unique()

array(['Braund  Owen Harris',
       'Cumings  John Bradley Florence Briggs Thayer',
       'Heikkinen Miss Laina', 'Futrelle  Jacques Heath Lily May Peel',
       'Allen  William Henry', 'Moran  James', 'McCarthy  Timothy J',
       'Palsson Master Gosta Leonard',
       'Johnson  Oscar W Elisabeth Vilhelmina Berg',
       'Nasser  Nicholas Adele Achem', 'Sandstrom Miss Marguerite Rut',
       'Bonnell Miss Elizabeth', 'Saundercock  William Henry',
       'Andersson  Anders Johan', 'Vestrom Miss Hulda Amanda Adolfina',
       'Hewlett  Mary D Kingcome ', 'Rice Master Eugene',
       'Williams  Charles Eugene',
       'Vander Planke  Julius Emelia Maria Vandemoortele',
       'Masselmani  Fatima', 'Fynney  Joseph J', 'Beesley  Lawrence',
       'McGowan Miss Anna "Annie"', 'Sloper  William Thompson',
       'Palsson Miss Torborg Danira',
       'Asplund  Carl Oscar Selma Augusta Emilia Johansson',
       'Emir  Farred Chehab', 'Fortune  Charles Alexander',
       'O\'Dwyer Miss Ellen "Nellie"', 'Todoroff  Lalio',
       'Uruchurtu Don Manuel E',
       'Spencer  William Augustus Marie Eugenie',
       'Glynn Miss Mary Agatha', 'Wheadon  Edward H',
       'Meyer  Edgar Joseph', 'Holverson  Alexander Oskar',
       'Mamee  Hanna', 'Cann  Ernest Charles',
       'Vander Planke Miss Augusta Maria', 'Nicola-Yarred Miss Jamila',
       'Ahlin  Johan Johanna Persdotter Larsson',
       'Turpin  William John Robert Dorothy Ann Wonnacott',
       'Kraeff  Theodor', 'Laroche Miss Simonne Marie Anne Andree',
       'Devaney Miss Margaret Delia', 'Rogers  William John',
       'Lennon  Denis', "O'Driscoll Miss Bridget", 'Samaan  Youssef',
       'Arnold-Franchi  Josef Josefine Franchi',
       'Panula Master Juha Niilo', 'Nosworthy  Richard Cater',
       'Harper  Henry Sleeper Myna Haxtun',
       'Faunthorpe  Lizzie Elizabeth Anne Wilkinson',
       'Ostby  Engelhart Cornelius', 'Woolner  Hugh', 'Rugg Miss Emily',
       'Novel  Mansouer', 'West Miss Constance Mirium',
       'Goodwin Master William Frederick', 'Sirayanian  Orsen',
       'Icard Miss Amelie', 'Harris  Henry Birkhardt',
       'Skoog Master Harald', 'Stewart  Albert A',
       'Moubarek Master Gerios', 'Nye  Elizabeth Ramell',
       'Crease  Ernest James', 'Andersson Miss Erna Alexandra',
       'Kink  Vincenz', 'Jenkin  Stephen Curnow',
       'Goodwin Miss Lillian Amy', 'Hood  Ambrose Jr',
       'Chronopoulos  Apostolos', 'Bing  Lee', 'Moen  Sigurd Hansen',
       'Staneff  Ivan', 'Moutal  Rahamin Haim',
       'Caldwell Master Alden Gates', 'Dowdell Miss Elizabeth',
       'Waelens  Achille', 'Sheerlinck  Jan Baptist',
       'McDermott Miss Brigdet Delia', 'Carrau  Francisco M',
       'Ilett Miss Bertha',
       'Backstrom  Karl Alfred Maria Mathilda Gustafsson',
       'Ford  William Neal', 'Slocovski  Selman Francis',
       'Fortune Miss Mabel Helen', 'Celotti  Francesco',
       'Christmann  Emil', 'Andreasson  Paul Edvin',
       'Chaffee  Herbert Fuller', 'Dean  Bertram Frank', 'Coxon  Daniel',
       'Shorney  Charles Joseph', 'Goldschmidt  George B',
       'Greenfield  William Bertram', 'Doling  John T Ada Julia Bone',
       'Kantor  Sinai', 'Petranec Miss Matilda',
       'Petroff  Pastcho "Pentcho"', 'White  Richard Frasar',
       'Johansson  Gustaf Joel', 'Gustafsson  Anders Vilhelm',
       'Mionoff  Stoytcho', 'Salkjelsvik Miss Anna Kristine',
       'Moss  Albert Johan', 'Rekic  Tido', 'Moran Miss Bertha',
       'Porter  Walter Chamberlain', 'Zabour Miss Hileni',
       'Barton  David John', 'Jussila Miss Katriina',
       'Attalah Miss Malake', 'Pekoniemi  Edvard', 'Connors  Patrick',
       'Turpin  William John Robert', 'Baxter  Quigg Edmond',
       'Andersson Miss Ellis Anna Maria', 'Hickman  Stanley George',
       'Moore  Leonard Charles', 'Nasser  Nicholas', 'Webber Miss Susan',
       'White  Percival Wayland', 'Nicola-Yarred Master Elias',
       'McMahon  Martin', 'Madsen  Fridtjof Arne', 'Peter Miss Anna',
       'Ekstrom  Johan', 'Drazenoic  Jozef', 'Coelho  Domingos Fernandeo',
       'Robins  Alexander A Grace Charity Laury',
       'Weisz  Leopold Mathilde Francoise Pede',
       'Sobey  Samuel James Hayden', 'Richard  Emile',
       'Newsom Miss Helen Monypeny', 'Futrelle  Jacques Heath',
       'Osen  Olaf Elon', 'Giglio  Victor', 'Boulos  Joseph Sultana',
       'Nysten Miss Anna Sofia',
       'Hakkarainen  Pekka Pietari Elin Matilda Dolck', 'Burke  Jeremiah',
       'Andrew  Edgardo Samuel', 'Nicholls  Joseph Charles',
       'Andersson  August Edvard "Wennerstrom"',
       'Ford Miss Robina Maggie "Ruby"',
       'Navratil  Michel "Louis M Hoffman"',
       'Byles Rev Thomas Roussel Davids', 'Bateman Rev Robert James',
       'Pears  Thomas Edith Wearne', 'Meo  Alfonzo',
       'van Billiard  Austin Blyler', 'Olsen  Ole Martin',
       'Williams  Charles Duane', 'Gilnagh Miss Katherine "Katie"',
       'Corn  Harry', 'Smiljanic  Mile', 'Sage Master Thomas Henry',
       'Cribb  John Hatfield',
       'Watt  James Elizabeth "Bessie" Inglis Milne',
       'Bengtsson  John Viktor', 'Calic  Jovo',
       'Panula Master Eino Viljami',
       'Goldsmith Master Frank John William "Frankie"',
       'Chibnall  Edith Martha Bowerman',
       'Skoog  William Anna Bernhardina Karlsson', 'Baumann  John D',
       'Ling  Lee', 'Van der hoef  Wyckoff', 'Rice Master Arthur',
       'Johnson Miss Eleanor Ileen', 'Sivola  Antti Wilhelm',
       'Smith  James Clinch', 'Klasen  Klas Albin',
       'Lefebre Master Henry Forbes', 'Isham Miss Ann Elizabeth',
       'Hale  Reginald', 'Leonard  Lionel', 'Sage Miss Constance Gladys',
       'Pernot  Rene', 'Asplund Master Clarence Gustaf Hugo',
       'Becker Master Richard F', 'Kink-Heilmann Miss Luise Gretchen',
       'Rood  Hugh Roscoe', 'O\'Brien  Thomas Johanna "Hannah" Godfrey',
       'Romaine  Charles Hallace " C Rolmane"', 'Bourke  John',
       'Turcin  Stjepan', 'Pinsky  Rosa', 'Carbines  William',
       'Andersen-Jensen Miss Carla Christine Nielsine',
       'Navratil Master Michel M', 'Brown  James Joseph Margaret Tobin',
       'Lurette Miss Elise', 'Mernagh  Robert',
       'Olsen  Karl Siegwart Andreas', 'Madigan Miss Margaret "Maggie"',
       'Yrois Miss Henriette " Harbeck"', 'Vande Walle  Nestor Cyriel',
       'Sage  Frederick', 'Johanson  Jakob Alfred', 'Youseff  Gerious',
       'Cohen  Gurshon "Gus"', 'Strom Miss Telma Matilda',
       'Backstrom  Karl Alfred', 'Albimona  Nassef Cassem',
       'Carr Miss Helen "Ellen"', 'Blank  Henry', 'Ali  Ahmed',
       'Cameron Miss Clear Annie', 'Perkin  John Henry',
       'Givard  Hans Kristensen', 'Kiernan  Philip',
       'Newell Miss Madeleine', 'Honkanen Miss Eliina',
       'Jacobsohn  Sidney Samuel', 'Bazzani Miss Albina',
       'Harris  Walter', 'Sunderland  Victor Francis', 'Bracken  James H',
       'Green  George Henry', 'Nenkoff  Christo',
       'Hoyt  Frederick Maxfield', 'Berglund  Karl Ivar Sven',
       'Mellors  William John', 'Lovell  John Hall "Henry"',
       'Fahlstrom  Arne Jonas', 'Lefebre Miss Mathilde',
       'Harris  Henry Birkhardt Irene Wallach', 'Larsson  Bengt Edvin',
       'Sjostedt  Ernst Adolf', 'Asplund Miss Lillian Gertrud',
       'Leyson  Robert William Norman', 'Harknett Miss Alice Phoebe',
       'Hold  Stephen', 'Collyer Miss Marjorie "Lottie"',
       'Pengelly  Frederick William', 'Hunt  George Henry',
       'Zabour Miss Thamine', 'Murphy Miss Katherine "Kate"',
       'Coleridge  Reginald Charles', 'Maenpaa  Matti Alexanteri',
       'Attalah  Sleiman', 'Minahan Dr William Edward',
       'Lindahl Miss Agda Thorilda Viktoria', 'Hamalainen  William Anna',
       'Beckwith  Richard Leonard', 'Carter Rev Ernest Courtenay',
       'Reed  James George', 'Strom  Wilhelm Elna Matilda Persson',
       'Stead  William Thomas', 'Lobb  William Arthur',
       'Rosblom  Viktor Helena Wilhelmina',
       'Touma  Darwis Hanne Youssef Razi', 'Thorne  Gertrude Maybelle',
       'Cherry Miss Gladys', 'Ward Miss Anna', 'Parrish  Lutie Davis',
       'Smith  Thomas', 'Asplund Master Edvin Rojj Felix',
       'Taussig  Emil', 'Harrison  William', 'Henry Miss Delia',
       'Reeves  David', 'Panula  Ernesti Arvid', 'Persson  Ernst Ulrik',
       'Graham  William Thompson Edith Junkins', 'Bissette Miss Amelia',
       'Cairns  Alexander', 'Tornquist  William Henry',
       'Mellinger  Elizabeth Anne Maidment', 'Natsch  Charles H',
       'Healy Miss Hanora "Nora"', 'Andrews Miss Kornelia Theodosia',
       'Lindblom Miss Augusta Charlotta', 'Parkes  Francis "Frank"',
       'Rice Master Eric', 'Abbott  Stanton Rosa Hunt', 'Duane  Frank',
       'Olsson  Nils Johan Goransson', 'de Pelsmaeker  Alfons',
       'Dorking  Edward Arthur', 'Smith  Richard William',
       'Stankovic  Ivan', 'de Mulder  Theodore', 'Naidenoff  Penko',
       'Hosono  Masabumi', 'Connolly Miss Kate',
       'Barber Miss Ellen "Nellie"', 'Bishop  Dickinson H Helen Walton',
       'Levy  Rene Jacques', 'Haas Miss Aloisia', 'Mineff  Ivan',
       'Lewy  Ervin G', 'Hanna  Mansour', 'Allison Miss Helen Loraine',
       'Saalfeld  Adolphe', 'Baxter  James Helene DeLaudeniere Chaput',
       'Kelly Miss Anna Katherine "Annie Kate"', 'McCoy  Bernard',
       'Johnson  William Cahoone Jr', 'Keane Miss Nora A',
       'Williams  Howard Hugh "Harry"', 'Allison Master Hudson Trevor',
       'Fleming Miss Margaret',
       'Penasco y Castellana  Victor de Satode Maria Josefa Perez de Soto y Vallejo',
       'Abelson  Samuel', 'Francatelli Miss Laura Mabel',
       'Hays Miss Margaret Bechstein', 'Ryerson Miss Emily Borie',
       'Lahtinen  William Anna Sylfven', 'Hendekovic  Ignjac',
       'Hart  Benjamin', 'Nilsson Miss Helmina Josefina',
       'Kantor  Sinai Miriam Sternin', 'Moraweck Dr Ernest',
       'Wick Miss Mary Natalie',
       'Spedden  Frederic Oakley Margaretta Corning Stone',
       'Dennis  Samuel', 'Danoff  Yoto', 'Slayter Miss Hilda Mary',
       'Caldwell  Albert Francis Sylvia Mae Harbaugh',
       'Sage  George John Jr', 'Young Miss Marie Grice',
       'Nysveen  Johan Hansen', 'Ball  Ada E Hall',
       'Goldsmith  Frank John Emily Alice Brown',
       'Hippach Miss Jean Gertrude', 'McCoy Miss Agnes',
       'Partner  Austen', 'Graham  George Edward',
       'Vander Planke  Leo Edmondus',
       'Frauenthal  Henry William Clara Heinsheimer', 'Denkoff  Mitto',
       'Pears  Thomas Clinton', 'Burns Miss Elizabeth Margaret',
       'Dahl  Karl Edwart', 'Blackwell  Stephen Weart',
       'Navratil Master Edmond Roger', 'Fortune Miss Alice Elizabeth',
       'Collander  Erik Gustaf', 'Sedgwick  Charles Frederick Waddington',
       'Fox  Stanley Hubert', 'Brown Miss Amelia "Mildred"',
       'Smith Miss Marion Elsie', 'Davison  Thomas Henry Mary E Finck',
       'Coutts Master William Loch "William"', 'Dimic  Jovan',
       'Odahl  Nils Martin', 'Williams-Lambert  Fletcher Fellows',
       'Elias  Tannous', 'Arnold-Franchi  Josef', 'Yousif  Wazli',
       'Vanden Steen  Leo Peter', 'Bowerman Miss Elsie Edith',
       'Funk Miss Annie Clemmer', 'McGovern Miss Mary',
       'Mockler Miss Helen Mary "Ellie"', 'Skoog  Wilhelm',
       'del Carlo  Sebastiano', 'Barbara  Catherine David', 'Asim  Adola',
       "O'Brien  Thomas", 'Adahl  Mauritz Nils Martin',
       'Warren  Frank Manley Anna Sophia Atkinson',
       'Moussa  Mantoura Boulos', 'Jermyn Miss Annie',
       'Aubart Mme Leontine Pauline', 'Harder  George Achilles',
       'Wiklund  Jakob Alfred', 'Beavan  William Thomas',
       'Ringhini  Sante', 'Palsson Miss Stina Viola',
       'Meyer  Edgar Joseph Leila Saks', 'Landergren Miss Aurora Adelia',
       'Widener  Harry Elkins', 'Betros  Tannous',
       'Gustafsson  Karl Gideon', 'Bidois Miss Rosalie',
       'Nakid Miss Maria "Mary"', 'Tikkanen  Juho',
       'Holverson  Alexander Oskar Mary Aline Towner',
       'Plotcharsky  Vasil', 'Davies  Charles Henry',
       'Goodwin Master Sidney Leonard', 'Buss Miss Kate',
       'Sadlier  Matthew', 'Lehmann Miss Bertha',
       'Carter  William Ernest', 'Jansson  Carl Olof',
       'Gustafsson  Johan Birger', 'Newell Miss Marjorie',
       'Sandstrom  Hjalmar Agnes Charlotta Bengtsson', 'Johansson  Erik',
       'Olsson Miss Elina', 'McKane  Peter David', 'Pain Dr Alfred',
       'Trout  William H Jessie L', 'Niskanen  Juha', 'Adams  John',
       'Jussila Miss Mari Aina', 'Hakkarainen  Pekka Pietari',
       'Oreskovic Miss Marija', 'Gale  Shadrach',
       'Widegren  Carl/Charles Peter', 'Richards Master William Rowe',
       'Birkeland  Hans Martin Monsen', 'Lefebre Miss Ida',
       'Sdycoff  Todor', 'Hart  Henry', 'Minahan Miss Daisy E',
       'Cunningham  Alfred Fleming', 'Sundman  Johan Julian',
       'Meek  Thomas Annie Louise Rowley',
       'Drew  James Vivian Lulu Thorne Christian',
       'Silven Miss Lyyli Karoliina', 'Matthews  William John',
       'Van Impe Miss Catharina', 'Gheorgheff  Stanio', 'Charters  David',
       'Zimmerman  Leo',
       'Danbom  Ernst Gilbert Anna Sigrid Maria Brogren',
       'Rosblom  Viktor Richard', 'Wiseman  Phillippe',
       'Clarke  Charles V Ada Maria Winfield',
       'Phillips Miss Kate Florence " Kate Louise Phillips Marshall"',
       'Flynn  James', 'Pickard  Berk Berk Trembisky',
       'Bjornstrom-Steffansson  Mauritz Hakan',
       'Thorneycroft  Percival Florence Kate White',
       'Louch  Charles Alexander Alice Adelaide Slow',
       'Kallio  Nikolai Erland', 'Silvey  William Baird',
       'Carter Miss Lucile Polk', 'Ford Miss Doolina Margaret "Daisy"',
       'Richards  Sidney Emily Hocking', 'Fortune  Mark',
       'Kvillner  Johan Henrik Johannesson',
       'Hart  Benjamin Esther Ada Bloomfield', 'Hampe  Leon',
       'Petterson  Johan Emil', 'Reynaldo Ms Encarnacion',
       'Johannesen-Bratthammer  Bernt', 'Dodge Master Washington',
       'Mellinger Miss Madeleine Violet', 'Seward  Frederic Kimber',
       'Baclini Miss Marie Catherine', 'Peuchen Major Arthur Godfrey',
       'West  Edwy Arthur', 'Hagland  Ingvald Olai Olsen',
       'Foreman  Benjamin Laventall', 'Goldenberg  Samuel L',
       'Peduzzi  Joseph', 'Jalsevac  Ivan', 'Millet  Francis Davis',
       'Kenyon  Frederick R Marion', 'Toomey Miss Ellen',
       "O'Connor  Maurice", 'Anderson  Harry', 'Morley  William',
       'Gee  Arthur H', 'Milling  Jacob Christian', 'Maisner  Simon',
       'Goncalves  Manuel Estanslas', 'Campbell  William',
       'Smart  John Montgomery', 'Scanlan  James',
       'Baclini Miss Helene Barbara', 'Keefe  Arthur', 'Cacic  Luka',
       'West  Edwy Arthur Ada Mary Worth',
       'Jerwan  Amin S Marie Marthe Thuillard',
       'Strandberg Miss Ida Sofia', 'Clifford  George Quincy',
       'Renouf  Peter Henry', 'Braund  Lewis Richard',
       'Karlsson  Nils August', 'Hirvonen Miss Hildur E',
       'Goodwin Master Harold Victor', 'Frost  Anthony Wood "Archie"',
       'Rouse  Richard Henry', 'Turkula  Hedwig', 'Bishop  Dickinson H',
       'Lefebre Miss Jeannie', 'Hoyt  Frederick Maxfield Jane Anne Forby',
       'Kent  Edward Austin', 'Somerton  Francis William',
       'Coutts Master Eden Leslie "Neville"',
       'Hagland  Konrad Mathias Reiersen', 'Windelov  Einar',
       'Molson  Harry Markland', 'Artagaveytia  Ramon',
       'Stanley  Edward Roland', 'Yousseff  Gerious',
       'Eustis Miss Elizabeth Mussey', 'Shellard  Frederick William',
       'Allison  Hudson J C Bessie Waldo Daniels', 'Svensson  Olof',
       'Calic  Petar', 'Canavan Miss Mary',
       "O'Sullivan Miss Bridget Mary", 'Laitinen Miss Kristina Sofia',
       'Maioni Miss Roberta', 'Penasco y Castellana  Victor de Satode',
       'Quick  Frederick Charles Jane Richards',
       'Bradley  George "George Arthur Brayton"', 'Olsen  Henry Margido',
       'Lang  Fang', 'Daly  Eugene Patrick', 'Webber  James',
       'McGough  James Robert', 'Rothschild  Martin Elizabeth L Barrett',
       'Coleff  Satio', 'Walker  William Anderson',
       'Lemore  Amelia Milley', 'Ryan  Patrick',
       'Angle  William A Florence "Mary" Agnes Hughes', 'Pavlovic  Stefo',
       'Perreault Miss Anne', 'Vovk  Janko', 'Lahoud  Sarkis',
       'Hippach  Louis Albert Ida Sophia Fischer', 'Kassem  Fared',
       'Farrell  James', 'Ridsdale Miss Lucy', 'Farthing  John',
       'Salonen  Johan Werner', 'Hocking  Richard George',
       'Quick Miss Phyllis May', 'Toufik  Nakli', 'Elias  Joseph Jr',
       'Peter  Catherine Catherine Rizk', 'Cacic Miss Marija',
       'Hart Miss Eva Miriam', 'Butt Major Archibald Willingham',
       'LeRoy Miss Bertha', 'Risien  Samuel Beard',
       'Frolicher Miss Hedwig Margaritha', 'Crosby Miss Harriet R',
       'Andersson Miss Ingeborg Constanzia',
       'Andersson Miss Sigrid Elisabeth', 'Beane  Edward',
       'Douglas  Walter Donald', 'Nicholson  Arthur Ernest',
       'Beane  Edward Ethel Clarke', 'Padro y Manent  Julian',
       'Goldsmith  Frank John', 'Davies Master John Morgan Jr',
       'Thayer  John Borland Jr', 'Sharp  Percival James R',
       "O'Brien  Timothy", 'Leeni  Fahim "Philip Zenni"',
       'Ohman Miss Velin', 'Wright  George',
       'Duff Gordon Lady Lucille Christiana Sutherland " Morgan"',
       'Robbins  Victor', 'Taussig  Emil Tillie Mandelbaum',
       'de Messemaeker  Guillaume Joseph Emma', 'Morrow  Thomas Rowan',
       'Sivic  Husein', 'Norman  Robert Douglas', 'Simmons  John',
       'Meanwell Miss Marion Ogden', 'Davies  Alfred J',
       'Stoytcheff  Ilia', 'Palsson  Nils Alma Cornelia Berglund',
       'Doharr  Tannous', 'Jonsson  Carl', 'Harris  George',
       'Appleton  Edward Dale Charlotte Lamson',
       'Flynn  John Irwin "Irving"', 'Kelly Miss Mary',
       'Rush  Alfred George John', 'Patchett  George',
       'Garside Miss Ethel', 'Silvey  William Baird Alice Munger',
       'Caram  Joseph Maria Elias', 'Jussila  Eiriik',
       'Christy Miss Julie Rachel',
       'Thayer  John Borland Marian Longstreth Morris',
       'Downton  William James', 'Ross  John Hugo', 'Paulner  Uscher',
       'Taussig Miss Ruth', 'Jarvis  John Denzil',
       'Frolicher-Stehli  Maxmillian', 'Gilinski  Eliezer',
       'Murdlin  Joseph', 'Rintamaki  Matti',
       'Stephenson  Walter Bertram Martha Eustis',
       'Elsbury  William James', 'Bourke Miss Mary',
       'Chapman  John Henry', 'Van Impe  Jean Baptiste',
       'Leitch Miss Jessie Wills', 'Johnson  Alfred', 'Boulos  Hanna',
       'Duff Gordon Sir Cosmo Edmund " Morgan"',
       'Jacobsohn  Sidney Samuel Amy Frances Christy', 'Slabenoff  Petco',
       'Harrington  Charles H', 'Torber  Ernst William',
       'Homer  Harry " E Haven"', 'Lindell  Edvard Bengtsson',
       'Karaic  Milan', 'Daniel  Robert Williams',
       'Laroche  Joseph Juliette Marie Louise Lafargue',
       'Shutes Miss Elizabeth W',
       'Andersson  Anders Johan Alfrida Konstantia Brogren',
       'Jardin  Jose Neto', 'Murphy Miss Margaret Jane', 'Horgan  John',
       'Brocklebank  William Alfred', 'Herman Miss Alice',
       'Danbom  Ernst Gilbert',
       'Lobb  William Arthur Cordelia K Stanlick',
       'Becker Miss Marion Louise', 'Gavey  Lawrence', 'Yasbeck  Antoni',
       'Kimball  Edwin Nelson Jr', 'Nakid  Sahid',
       'Hansen  Henry Damsgaard', 'Bowen  David John "Dai"',
       'Sutton  Frederick', 'Kirkland Rev Charles Leonard',
       'Longley Miss Gretchen Fiske', 'Bostandyeff  Guentcho',
       "O'Connell  Patrick D", 'Barkworth  Algernon Henry Wilson',
       'Lundahl  Johan Svensson', 'Stahelin-Maeglin Dr Max',
       'Parr  William Henry Marsh', 'Skoog Miss Mabel', 'Davis Miss Mary',
       'Leinonen  Antti Gustaf', 'Collyer  Harvey',
       'Panula  Juha Maria Emilia Ojala', 'Thorneycroft  Percival',
       'Jensen  Hans Peder', 'Sagesser Mlle Emma',
       'Skoog Miss Margit Elizabeth', 'Foo  Choong',
       'Baclini Miss Eugenie', 'Harper  Henry Sleeper', 'Cor  Liudevit',
       'Simonius-Blumer Col Oberst Alfons', 'Willey  Edward',
       'Stanley Miss Amy Zillah Elsie', 'Mitkoff  Mito',

In [483]:
def extract(x):
    spilit = x.split()
    ans1 = spilit[0]
    ans2 = spilit[len(spilit) - 1]
    return ans1, ans2

In [484]:
df['Name'] = df['Name'].apply(extract)

In [485]:
df['Name']

0          (Braund, Harris)
1         (Cumings, Thayer)
2        (Heikkinen, Laina)
3          (Futrelle, Peel)
4            (Allen, Henry)
               ...
886      (Montvila, Juozas)
887         (Graham, Edith)
888    (Johnston, "Carrie")
889          (Behr, Howell)
890       (Dooley, Patrick)
Name: Name, Length: 891, dtype: object

In [486]:
df['Name']

0          (Braund, Harris)
1         (Cumings, Thayer)
2        (Heikkinen, Laina)
3          (Futrelle, Peel)
4            (Allen, Henry)
               ...
886      (Montvila, Juozas)
887         (Graham, Edith)
888    (Johnston, "Carrie")
889          (Behr, Howell)
890       (Dooley, Patrick)
Name: Name, Length: 891, dtype: object

In [487]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [488]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [489]:
df['Survived'].unique()

array([0, 1])

In [490]:
df['Survived'].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [491]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [492]:
df['Pclass'].unique()

array([3, 1, 2])

In [493]:
df['Pclass'].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [494]:
df['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [495]:
df['Sex'].unique()

array(['male', 'female'], dtype=object)

In [496]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [497]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [498]:
df['Age'].unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [499]:
df['Age'].mean()

np.float64(29.69911764705882)

In [500]:
df['Age'] = df['Age'].fillna(29.69)

In [501]:
df['a'] = df['Age'] // 1

In [502]:
df['diff'] = df['Age'] - df['a']

In [503]:
df['Age'].unique()

array([22.  , 38.  , 26.  , 35.  , 29.69, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [504]:
df['a'].unique()

array([22., 38., 26., 35., 29., 54.,  2., 27., 14.,  4., 58., 20., 39.,
       55., 31., 34., 15., 28.,  8., 19., 40., 66., 42., 21., 18.,  3.,
        7., 49., 65.,  5., 11., 45., 17., 32., 16., 25.,  0., 30., 33.,
       23., 24., 46., 59., 71., 37., 47., 70., 12.,  9., 36., 51., 44.,
        1., 61., 56., 50., 62., 41., 52., 63., 43., 60., 10., 64., 13.,
       48., 53., 57., 80.,  6., 74.])

In [505]:
def conversion(x):
    if x >= 0.5:
        return 1
    else:
        return 0

In [506]:
df['diff1'] = df['diff'].apply(conversion)

In [507]:
df['diff1']

0      0
1      0
2      0
3      0
4      0
      ..
886    0
887    0
888    1
889    0
890    0
Name: diff1, Length: 891, dtype: int64

In [508]:
df['Age'] = df['a'] + df['diff1']

In [509]:
df['Age'].unique()

array([22., 38., 26., 35., 30., 54.,  2., 27., 14.,  4., 58., 20., 39.,
       55., 31., 34., 15., 28.,  8., 19., 40., 66., 42., 21., 18.,  3.,
        7., 49., 29., 65.,  5., 11., 45., 17., 32., 16., 25.,  1., 33.,
       23., 24., 46., 59., 71., 37., 47., 12.,  9., 51., 56., 41., 44.,
       61., 50., 36., 62., 52., 63., 43., 60., 10., 64., 13., 48., 53.,
       57., 80., 70.,  6.,  0., 74.])

In [510]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'a', 'diff', 'diff1'],
      dtype='object')

In [511]:
df = df.drop(columns = ['a', 'diff', 'diff1'])

In [512]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"(Braund, Harris)",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"(Cumings, Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"(Heikkinen, Laina)",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"(Futrelle, Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"(Allen, Henry)",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"(Montvila, Juozas)",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"(Graham, Edith)",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"(Johnston, ""Carrie"")",female,30.0,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"(Behr, Howell)",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"(Dooley, Patrick)",male,32.0,0,0,370376,7.7500,NaN,Q

In [513]:
df['Age'] = df['Age'].astype('int')

In [514]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    int64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(1), int64(6), object(5)
memory usage: 83.7+ KB

In [515]:
df['SibSp'].unique()

array([1, 0, 3, 4, 2, 5, 8])

In [516]:
df['SibSp'].value_counts()

SibSp
0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: count, dtype: int64

In [517]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    int64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(1), int64(6), object(5)
memory usage: 83.7+ KB

In [518]:
df['Parch'].value_counts()

Parch
0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: count, dtype: int64

In [519]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [520]:
df['Ticket'].unique()

array(['A/5 21171', 'PC 17599', 'STON/O2. 3101282', '113803', '373450',
       '330877', '17463', '349909', '347742', '237736', 'PP 9549',
       '113783', 'A/5. 2151', '347082', '350406', '248706', '382652',
       '244373', '345763', '2649', '239865', '248698', '330923', '113788',
       '347077', '2631', '19950', '330959', '349216', 'PC 17601',
       'PC 17569', '335677', 'C.A. 24579', 'PC 17604', '113789', '2677',
       'A./5. 2152', '345764', '2651', '7546', '11668', '349253',
       'SC/Paris 2123', '330958', 'S.C./A.4. 23567', '370371', '14311',
       '2662', '349237', '3101295', 'A/4. 39886', 'PC 17572', '2926',
       '113509', '19947', 'C.A. 31026', '2697', 'C.A. 34651', 'CA 2144',
       '2669', '113572', '36973', '347088', 'PC 17605', '2661',
       'C.A. 29395', 'S.P. 3464', '3101281', '315151', 'C.A. 33111',
       'S.O.C. 14879', '2680', '1601', '348123', '349208', '374746',
       '248738', '364516', '345767', '345779', '330932', '113059',
       'SO/C 14885', '3101278', 'W./C. 6608', 'SOTON/OQ 392086', '343275',
       '343276', '347466', 'W.E.P. 5734', 'C.A. 2315', '364500', '374910',
       'PC 17754', 'PC 17759', '231919', '244367', '349245', '349215',
       '35281', '7540', '3101276', '349207', '343120', '312991', '349249',
       '371110', '110465', '2665', '324669', '4136', '2627',
       'STON/O 2. 3101294', '370369', 'PC 17558', 'A4. 54510', '27267',
       '370372', 'C 17369', '2668', '347061', '349241',
       'SOTON/O.Q. 3101307', 'A/5. 3337', '228414', 'C.A. 29178',
       'SC/PARIS 2133', '11752', '7534', 'PC 17593', '2678', '347081',
       'STON/O2. 3101279', '365222', '231945', 'C.A. 33112', '350043',
       '230080', '244310', 'S.O.P. 1166', '113776', 'A.5. 11206',
       'A/5. 851', 'Fa 265302', 'PC 17597', '35851', 'SOTON/OQ 392090',
       '315037', 'CA. 2343', '371362', 'C.A. 33595', '347068', '315093',
       '363291', '113505', 'PC 17318', '111240', 'STON/O 2. 3101280',
       '17764', '350404', '4133', 'PC 17595', '250653', 'LINE',
       'SC/PARIS 2131', '230136', '315153', '113767', '370365', '111428',
       '364849', '349247', '234604', '28424', '350046', 'PC 17610',
       '368703', '4579', '370370', '248747', '345770', '3101264', '2628',
       'A/5 3540', '347054', '2699', '367231', '112277',
       'SOTON/O.Q. 3101311', 'F.C.C. 13528', 'A/5 21174', '250646',
       '367229', '35273', 'STON/O2. 3101283', '243847', '11813',
       'W/C 14208', 'SOTON/OQ 392089', '220367', '21440', '349234',
       '19943', 'PP 4348', 'SW/PP 751', 'A/5 21173', '236171', '347067',
       '237442', 'C.A. 29566', 'W./C. 6609', '26707', 'C.A. 31921',
       '28665', 'SCO/W 1585', '367230', 'W./C. 14263',
       'STON/O 2. 3101275', '2694', '19928', '347071', '250649', '11751',
       '244252', '362316', '113514', 'A/5. 3336', '370129', '2650',
       'PC 17585', '110152', 'PC 17755', '230433', '384461', '110413',
       '112059', '382649', 'C.A. 17248', '347083', 'PC 17582', 'PC 17760',
       '113798', '250644', 'PC 17596', '370375', '13502', '347073',
       '239853', 'C.A. 2673', '336439', '347464', '345778', 'A/5. 10482',
       '113056', '349239', '345774', '349206', '237798', '370373',
       '19877', '11967', 'SC/Paris 2163', '349236', '349233', 'PC 17612',
       '2693', '113781', '19988', '9234', '367226', '226593', 'A/5 2466',
       '17421', 'PC 17758', 'P/PP 3381', 'PC 17485', '11767', 'PC 17608',
       '250651', '349243', 'F.C.C. 13529', '347470', '29011', '36928',
       '16966', 'A/5 21172', '349219', '234818', '345364', '28551',
       '111361', '113043', 'PC 17611', '349225', '7598', '113784',
       '248740', '244361', '229236', '248733', '31418', '386525',
       'C.A. 37671', '315088', '7267', '113510', '2695', '2647', '345783',
       '237671', '330931', '330980', 'SC/PARIS 2167', '2691',
       'SOTON/O.Q. 3101310', 'C 7076', '110813', '2626', '14313',
       'PC 17477', '11765', '3101267', '323951', 'C 7077', '113503',
       '2648', '347069', 'PC 17757', '2653', 'STON/O 2. 3101293',
       '349227', '27849', '367655', 'SC 1748', '113760', '350034',
       '3101277', '350052', '350407', '28403', '244278', '240929',
       'STON/O 2. 3101289', '341826', '4137', '315096', '28664', '347064',
       '29106', '312992', '349222', '394140', 'STON/O 2. 3101269',
       '343095', '28220', '250652', '28228', '345773', '349254',
       'A/5. 13032', '315082', '347080', 'A/4. 34244', '2003', '250655',
       '364851', 'SOTON/O.Q. 392078', '110564', '376564', 'SC/AH 3085',
       'STON/O 2. 3101274', '13507', 'C.A. 18723', '345769', '347076',
       '230434', '65306', '33638', '113794', '2666', '113786', '65303',
       '113051', '17453', 'A/5 2817', '349240', '13509', '17464',
       'F.C.C. 13531', '371060', '19952', '364506', '111320', '234360',
       'A/S 2816', 'SOTON/O.Q. 3101306', '113792', '36209', '323592',
       '315089', 'SC/AH Basle 541', '7553', '31027', '3460', '350060',
       '3101298', '239854', 'A/5 3594', '4134', '11771', 'A.5. 18509',
       '65304', 'SOTON/OQ 3101317', '113787', 'PC 17609', 'A/4 45380',
       '36947', 'C.A. 6212', '350035', '315086', '364846', '330909',
       '4135', '26360', '111427', 'C 4001', '382651', 'SOTON/OQ 3101316',
       'PC 17473', 'PC 17603', '349209', '36967', 'C.A. 34260', '226875',
       '349242', '12749', '349252', '2624', '2700', '367232',
       'W./C. 14258', 'PC 17483', '3101296', '29104', '2641', '2690',
       '315084', '113050', 'PC 17761', '364498', '13568', 'WE/P 5735',
       '2908', '693', 'SC/PARIS 2146', '244358', '330979', '2620',
       '347085', '113807', '11755', '345572', '372622', '349251',
       '218629', 'SOTON/OQ 392082', 'SOTON/O.Q. 392087', 'A/4 48871',
       '349205', '2686', '350417', 'S.W./PP 752', '11769', 'PC 17474',
       '14312', 'A/4. 20589', '358585', '243880', '2689',
       'STON/O 2. 3101286', '237789', '13049', '3411', '237565', '13567',
       '14973', 'A./5. 3235', 'STON/O 2. 3101273', 'A/5 3902', '364848',
       'SC/AH 29037', '248727', '2664', '349214', '113796', '364511',
       '111426', '349910', '349246', '113804', 'SOTON/O.Q. 3101305',
       '370377', '364512', '220845', '31028', '2659', '11753', '350029',
       '54636', '36963', '219533', '349224', '334912', '27042', '347743',
       '13214', '112052', '237668', 'STON/O 2. 3101292', '350050',
       '349231', '13213', 'S.O./P.P. 751', 'CA. 2314', '349221', '8475',
       '330919', '365226', '349223', '29751', '2623', '5727', '349210',
       'STON/O 2. 3101285', '234686', '312993', 'A/5 3536', '19996',
       '29750', 'F.C. 12750', 'C.A. 24580', '244270', '239856', '349912',
       '342826', '4138', '330935', '6563', '349228', '350036', '24160',
       '17474', '349256', '2672', '113800', '248731', '363592', '35852',
       '348121', 'PC 17475', '36864', '350025', '223596', 'PC 17476',
       'PC 17482', '113028', '7545', '250647', '348124', '34218', '36568',
       '347062', '350048', '12233', '250643', '113806', '315094', '36866',
       '236853', 'STON/O2. 3101271', '239855', '28425', '233639',
       '349201', '349218', '16988', '376566', 'STON/O 2. 3101288',
       '250648', '113773', '335097', '29103', '392096', '345780',
       '349204', '350042', '29108', '363294', 'SOTON/O2 3101272', '2663',
       '347074', '112379', '364850', '8471', '345781', '350047',
       'S.O./P.P. 3', '2674', '29105', '347078', '383121', '36865',
       '2687', '113501', 'W./C. 6607', 'SOTON/O.Q. 3101312', '374887',
       '3101265', '12460', 'PC 17600', '349203', '28213', '17465',
       '349244', '2685', '2625', '347089', '347063', '112050', '347087',
       '248723', '3474', '28206', '364499', '112058', 'STON/O2. 3101290',
       'S.C./PARIS 2079', 'C 7075', '315098', '19972', '368323', '367228',
       '2671', '347468', '2223', 'PC 17756', '315097', '392092', '11774',
       'SOTON/O2 3101287', '2683', '315090', 'C.A. 5547', '349213',
       '347060', 'PC 17592', '392091', '113055', '2629', '350026',
       '28134', '17466', '233866', '236852', 'SC/PARIS 2149', 'PC 17590',
       '345777', '349248', '695', '345765', '2667', '349212', '349217',
       '349257', '7552', 'C.A./SOTON 34068', 'SOTON/OQ 392076', '211536',
       '112053', '111369', '370376'], dtype=object)

In [521]:
df['Ticket'] = df['Ticket'].str.replace(' ', '')
df['Ticket'] = df['Ticket'].str.replace('/', '')
df['Ticket'] = df['Ticket'].str.replace('.', '')

In [522]:
df['Ticket'].unique()

array(['A521171', 'PC17599', 'STONO23101282', '113803', '373450',
       '330877', '17463', '349909', '347742', '237736', 'PP9549',
       '113783', 'A52151', '347082', '350406', '248706', '382652',
       '244373', '345763', '2649', '239865', '248698', '330923', '113788',
       '347077', '2631', '19950', '330959', '349216', 'PC17601',
       'PC17569', '335677', 'CA24579', 'PC17604', '113789', '2677',
       'A52152', '345764', '2651', '7546', '11668', '349253',
       'SCParis2123', '330958', 'SCA423567', '370371', '14311', '2662',
       '349237', '3101295', 'A439886', 'PC17572', '2926', '113509',
       '19947', 'CA31026', '2697', 'CA34651', 'CA2144', '2669', '113572',
       '36973', '347088', 'PC17605', '2661', 'CA29395', 'SP3464',
       '3101281', '315151', 'CA33111', 'SOC14879', '2680', '1601',
       '348123', '349208', '374746', '248738', '364516', '345767',
       '345779', '330932', '113059', 'SOC14885', '3101278', 'WC6608',
       'SOTONOQ392086', '343275', '343276', '347466', 'WEP5734', 'CA2315',
       '364500', '374910', 'PC17754', 'PC17759', '231919', '244367',
       '349245', '349215', '35281', '7540', '3101276', '349207', '343120',
       '312991', '349249', '371110', '110465', '2665', '324669', '4136',
       '2627', 'STONO23101294', '370369', 'PC17558', 'A454510', '27267',
       '370372', 'C17369', '2668', '347061', '349241', 'SOTONOQ3101307',
       'A53337', '228414', 'CA29178', 'SCPARIS2133', '11752', '7534',
       'PC17593', '2678', '347081', 'STONO23101279', '365222', '231945',
       'CA33112', '350043', '230080', '244310', 'SOP1166', '113776',
       'A511206', 'A5851', 'Fa265302', 'PC17597', '35851',
       'SOTONOQ392090', '315037', 'CA2343', '371362', 'CA33595', '347068',
       '315093', '363291', '113505', 'PC17318', '111240', 'STONO23101280',
       '17764', '350404', '4133', 'PC17595', '250653', 'LINE',
       'SCPARIS2131', '230136', '315153', '113767', '370365', '111428',
       '364849', '349247', '234604', '28424', '350046', 'PC17610',
       '368703', '4579', '370370', '248747', '345770', '3101264', '2628',
       'A53540', '347054', '2699', '367231', '112277', 'SOTONOQ3101311',
       'FCC13528', 'A521174', '250646', '367229', '35273',
       'STONO23101283', '243847', '11813', 'WC14208', 'SOTONOQ392089',
       '220367', '21440', '349234', '19943', 'PP4348', 'SWPP751',
       'A521173', '236171', '347067', '237442', 'CA29566', 'WC6609',
       '26707', 'CA31921', '28665', 'SCOW1585', '367230', 'WC14263',
       'STONO23101275', '2694', '19928', '347071', '250649', '11751',
       '244252', '362316', '113514', 'A53336', '370129', '2650',
       'PC17585', '110152', 'PC17755', '230433', '384461', '110413',
       '112059', '382649', 'CA17248', '347083', 'PC17582', 'PC17760',
       '113798', '250644', 'PC17596', '370375', '13502', '347073',
       '239853', 'CA2673', '336439', '347464', '345778', 'A510482',
       '113056', '349239', '345774', '349206', '237798', '370373',
       '19877', '11967', 'SCParis2163', '349236', '349233', 'PC17612',
       '2693', '113781', '19988', '9234', '367226', '226593', 'A52466',
       '17421', 'PC17758', 'PPP3381', 'PC17485', '11767', 'PC17608',
       '250651', '349243', 'FCC13529', '347470', '29011', '36928',
       '16966', 'A521172', '349219', '234818', '345364', '28551',
       '111361', '113043', 'PC17611', '349225', '7598', '113784',
       '248740', '244361', '229236', '248733', '31418', '386525',
       'CA37671', '315088', '7267', '113510', '2695', '2647', '345783',
       '237671', '330931', '330980', 'SCPARIS2167', '2691',
       'SOTONOQ3101310', 'C7076', '110813', '2626', '14313', 'PC17477',
       '11765', '3101267', '323951', 'C7077', '113503', '2648', '347069',
       'PC17757', '2653', 'STONO23101293', '349227', '27849', '367655',
       'SC1748', '113760', '350034', '3101277', '350052', '350407',
       '28403', '244278', '240929', 'STONO23101289', '341826', '4137',
       '315096', '28664', '347064', '29106', '312992', '349222', '394140',
       'STONO23101269', '343095', '28220', '250652', '28228', '345773',
       '349254', 'A513032', '315082', '347080', 'A434244', '2003',
       '250655', '364851', 'SOTONOQ392078', '110564', '376564',
       'SCAH3085', 'STONO23101274', '13507', 'CA18723', '345769',
       '347076', '230434', '65306', '33638', '113794', '2666', '113786',
       '65303', '113051', '17453', 'A52817', '349240', '13509', '17464',
       'FCC13531', '371060', '19952', '364506', '111320', '234360',
       'AS2816', 'SOTONOQ3101306', '113792', '36209', '323592', '315089',
       'SCAHBasle541', '7553', '31027', '3460', '350060', '3101298',
       '239854', 'A53594', '4134', '11771', 'A518509', '65304',
       'SOTONOQ3101317', '113787', 'PC17609', 'A445380', '36947',
       'CA6212', '350035', '315086', '364846', '330909', '4135', '26360',
       '111427', 'C4001', '382651', 'SOTONOQ3101316', 'PC17473',
       'PC17603', '349209', '36967', 'CA34260', '226875', '349242',
       '12749', '349252', '2624', '2700', '367232', 'WC14258', 'PC17483',
       '3101296', '29104', '2641', '2690', '315084', '113050', 'PC17761',
       '364498', '13568', 'WEP5735', '2908', '693', 'SCPARIS2146',
       '244358', '330979', '2620', '347085', '113807', '11755', '345572',
       '372622', '349251', '218629', 'SOTONOQ392082', 'SOTONOQ392087',
       'A448871', '349205', '2686', '350417', 'SWPP752', '11769',
       'PC17474', '14312', 'A420589', '358585', '243880', '2689',
       'STONO23101286', '237789', '13049', '3411', '237565', '13567',
       '14973', 'A53235', 'STONO23101273', 'A53902', '364848',
       'SCAH29037', '248727', '2664', '349214', '113796', '364511',
       '111426', '349910', '349246', '113804', 'SOTONOQ3101305', '370377',
       '364512', '220845', '31028', '2659', '11753', '350029', '54636',
       '36963', '219533', '349224', '334912', '27042', '347743', '13214',
       '112052', '237668', 'STONO23101292', '350050', '349231', '13213',
       'SOPP751', 'CA2314', '349221', '8475', '330919', '365226',
       '349223', '29751', '2623', '5727', '349210', 'STONO23101285',
       '234686', '312993', 'A53536', '19996', '29750', 'FC12750',
       'CA24580', '244270', '239856', '349912', '342826', '4138',
       '330935', '6563', '349228', '350036', '24160', '17474', '349256',
       '2672', '113800', '248731', '363592', '35852', '348121', 'PC17475',
       '36864', '350025', '223596', 'PC17476', 'PC17482', '113028',
       '7545', '250647', '348124', '34218', '36568', '347062', '350048',
       '12233', '250643', '113806', '315094', '36866', '236853',
       'STONO23101271', '239855', '28425', '233639', '349201', '349218',
       '16988', '376566', 'STONO23101288', '250648', '113773', '335097',
       '29103', '392096', '345780', '349204', '350042', '29108', '363294',
       'SOTONO23101272', '2663', '347074', '112379', '364850', '8471',
       '345781', '350047', 'SOPP3', '2674', '29105', '347078', '383121',
       '36865', '2687', '113501', 'WC6607', 'SOTONOQ3101312', '374887',
       '3101265', '12460', 'PC17600', '349203', '28213', '17465',
       '349244', '2685', '2625', '347089', '347063', '112050', '347087',
       '248723', '3474', '28206', '364499', '112058', 'STONO23101290',
       'SCPARIS2079', 'C7075', '315098', '19972', '368323', '367228',
       '2671', '347468', '2223', 'PC17756', '315097', '392092', '11774',
       'SOTONO23101287', '2683', '315090', 'CA5547', '349213', '347060',
       'PC17592', '392091', '113055', '2629', '350026', '28134', '17466',
       '233866', '236852', 'SCPARIS2149', 'PC17590', '345777', '349248',
       '695', '345765', '2667', '349212', '349217', '349257', '7552',
       'CASOTON34068', 'SOTONOQ392076', '211536', '112053', '111369',
       '370376'], dtype=object)

In [523]:
df['Fare'].unique()

array([  7.25  ,  71.2833,   7.925 ,  53.1   ,   8.05  ,   8.4583,
        51.8625,  21.075 ,  11.1333,  30.0708,  16.7   ,  26.55  ,
        31.275 ,   7.8542,  16.    ,  29.125 ,  13.    ,  18.    ,
         7.225 ,  26.    ,   8.0292,  35.5   ,  31.3875, 263.    ,
         7.8792,   7.8958,  27.7208, 146.5208,   7.75  ,  10.5   ,
        82.1708,  52.    ,   7.2292,  11.2417,   9.475 ,  21.    ,
        41.5792,  15.5   ,  21.6792,  17.8   ,  39.6875,   7.8   ,
        76.7292,  61.9792,  27.75  ,  46.9   ,  80.    ,  83.475 ,
        27.9   ,  15.2458,   8.1583,   8.6625,  73.5   ,  14.4542,
        56.4958,   7.65  ,  29.    ,  12.475 ,   9.    ,   9.5   ,
         7.7875,  47.1   ,  15.85  ,  34.375 ,  61.175 ,  20.575 ,
        34.6542,  63.3583,  23.    ,  77.2875,   8.6542,   7.775 ,
        24.15  ,   9.825 ,  14.4583, 247.5208,   7.1417,  22.3583,
         6.975 ,   7.05  ,  14.5   ,  15.0458,  26.2833,   9.2167,
        79.2   ,   6.75  ,  11.5   ,  36.75  ,   7.7958,  12.525 ,
        66.6   ,   7.3125,  61.3792,   7.7333,  69.55  ,  16.1   ,
        15.75  ,  20.525 ,  55.    ,  25.925 ,  33.5   ,  30.6958,
        25.4667,  28.7125,   0.    ,  15.05  ,  39.    ,  22.025 ,
        50.    ,   8.4042,   6.4958,  10.4625,  18.7875,  31.    ,
       113.275 ,  27.    ,  76.2917,  90.    ,   9.35  ,  13.5   ,
         7.55  ,  26.25  ,  12.275 ,   7.125 ,  52.5542,  20.2125,
        86.5   , 512.3292,  79.65  , 153.4625, 135.6333,  19.5   ,
        29.7   ,  77.9583,  20.25  ,  78.85  ,  91.0792,  12.875 ,
         8.85  , 151.55  ,  30.5   ,  23.25  ,  12.35  , 110.8833,
       108.9   ,  24.    ,  56.9292,  83.1583, 262.375 ,  14.    ,
       164.8667, 134.5   ,   6.2375,  57.9792,  28.5   , 133.65  ,
        15.9   ,   9.225 ,  35.    ,  75.25  ,  69.3   ,  55.4417,
       211.5   ,   4.0125, 227.525 ,  15.7417,   7.7292,  12.    ,
       120.    ,  12.65  ,  18.75  ,   6.8583,  32.5   ,   7.875 ,
        14.4   ,  55.9   ,   8.1125,  81.8583,  19.2583,  19.9667,
        89.1042,  38.5   ,   7.725 ,  13.7917,   9.8375,   7.0458,
         7.5208,  12.2875,   9.5875,  49.5042,  78.2667,  15.1   ,
         7.6292,  22.525 ,  26.2875,  59.4   ,   7.4958,  34.0208,
        93.5   , 221.7792, 106.425 ,  49.5   ,  71.    ,  13.8625,
         7.8292,  39.6   ,  17.4   ,  51.4792,  26.3875,  30.    ,
        40.125 ,   8.7125,  15.    ,  33.    ,  42.4   ,  15.55  ,
        65.    ,  32.3208,   7.0542,   8.4333,  25.5875,   9.8417,
         8.1375,  10.1708, 211.3375,  57.    ,  13.4167,   7.7417,
         9.4833,   7.7375,   8.3625,  23.45  ,  25.9292,   8.6833,
         8.5167,   7.8875,  37.0042,   6.45  ,   6.95  ,   8.3   ,
         6.4375,  39.4   ,  14.1083,  13.8583,  50.4958,   5.    ,
         9.8458,  10.5167])

In [524]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [525]:
df['Cabin']

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [526]:
df['Cabin'] = df['Cabin'].fillna('Z')

In [527]:
df['Cabin'] = df['Cabin'].astype('str')

In [528]:
def category1(x):
    if 'A' in x:
        return 'A'
    elif 'B' in x:
        return 'B'
    elif 'C' in x:
        return 'C'
    elif 'D' in x:
        return 'D'
    elif 'E' in x:
        return 'E'
    elif 'F' in x:
        return 'F'
    elif 'G' in x:
        return 'G'
    else:
        return

In [529]:
df['Cabin'] = df['Cabin'].apply(category1)

In [530]:
df['Cabin'].unique()

array([None, 'C', 'E', 'G', 'D', 'A', 'B', 'F'], dtype=object)

In [531]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    int64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        203 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(1), int64(6), object(5)
memory usage: 83.7+ KB

In [532]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [534]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [535]:
df = df.dropna(subset = ['Embarked'])

In [537]:
df['Embarked'].unique()

array(['S', 'C', 'Q'], dtype=object)